.mb-7 {
  margin-bottom: 70px;
}

.d-flex-lg {
  display: flex;
  align-items: flex-start;
}

.mt-minus-top {
  margin-top: -72px;
}

@media ($tablet) {
  .mt-minus-top {
    margin-top: 0;
  }

}


@media ($tablet) {
  .d-flex-lg {
    display: block;
  }
}

.gray-border {
  border: 14px solid #f0f0f0;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 2px;
  font-size: 13px;
  transition: .3s ease;
  &__sm {
    padding: 9px 20px;
    &--gray {
      background-color: #f0f0f0;
      &:hover {
        background-color: $accent-hover;
        color: #fff;
      }
    }
  }
  &--green {
    background-color: $green;
    color: #fff;
    .iconmoon {
      display: inline-block;
      margin-right: 5px;
      margin-top: 1px;
    }
    &:hover {
      background-color: $green-hover;
    }
  }
}


.list-inline {
  li {
    display: inline-block;
  }
}

mark {
  background-color: transparent;
  color: #ff7038;
  font-weight: bold;
}

.title-md {
  font-family: $proxima-extra;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.link {
  font-size: 12px;
  border-bottom: 1px dotted $text-color;
  transition: .3s ease;

  &:hover {
    border-color: transparent;
  }
}

.section-block {
  padding: 70px 0;

  &.section-block__slider {
    padding: 60px 0 30px;
  }

  &--gray {
    background-color: #f0f0f0;
  }

}

.title-light {
  color: #343434;
  font-family: $proxima-light;
  font-size: 24px;
}

.title-sm-light {
  color: #343434;
  font-family: $proxima-light;
  font-size: 20px;
}



.section-subtitle {
  font-size: 13px;
  font-family: $proxima-semibold;
  color: #c4c4c4;
}

.section-title {
  font-family: $proxima-extra;
  font-size: 36px;
  &__border {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      background-color: $text-color;
      position: absolute;
      top: 25px;
      left: -125px;
    }
  }
}



.section-goods-link {
  .goods-link {
    font-size: 16px;
  }
}

.section-goods-price {
  .goods-price-current {
    color: #006cbf;
  }
}

.text-gray {
  color: $text-gray;
}


/////////////////////////////// sprite block ///////////////////////////////////

.sprite {
  display: inline-block;
}

.sprite-black-cart {
  @include sprite($black-cart);
}

.sprite-b-new {
  @include sprite($b-new);
  &:hover {
    @include sprite($b-new-dark);
  }
}

/////////////////////////// small goods /////////////////////////


.small-goods-no-hover {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  width: 222px;
  height: 70px;
  margin-bottom: 15px;

  .goods-price-current {
    font-size: 14px;
  }
  .goods-link {
    text-transform: uppercase;
    width: 152px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .goods-subtitle {
    margin-bottom: 5px;
    width: 152px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    width: 65px;
    height: 65px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
    }
  }

  &__prop {
    padding-top: 13px;
    padding-left: 7px;
    width: 157px;
    &--list {
      text-align: center;
      color: #fff;
      font-size: 0;
      height: 0;
      overflow: hidden;
      transition: .3s ease;
      b {
        font-family: $font-bold;
      }
    }
  }
}

.small-goods-wrapper {
  position: relative;
  width: 222px;
  height: 70px;
  margin-bottom: 15px;
}

.small-goods {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //transition: .3s ease;

  &__image {
    width: 65px;
    height: 65px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
    }
  }
  &__prop {
    padding-top: 13px;
    padding-left: 7px;
    width: 157px;
    &--list {
      text-align: center;
      color: #fff;
      font-size: 0;
      height: 0;
      overflow: hidden;
      transition: .3s ease;
      b {
        font-family: $font-bold;
      }
    }
  }

  .goods-price-current {
    font-size: 14px;
  }
  .goods-link {
    text-transform: uppercase;
    width: 152px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .goods-subtitle {
    margin-bottom: 5px;
    width: 152px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 1280px) {
  .small-goods:hover {
    background-color: #0152a1;
    text-align: center;
    color: #fff;
    z-index: 20;

    .small-goods__image {
      width: 100%;
      height: 140px;
      position: relative;
    }
    .small-goods__prop {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }

    .goods-link {
      color: #fff;
      width: 100%;
    }

    .goods-subtitle {
      width: 100%;
    }
    .goods-price-current {
      color: #fff;
    }

    .goods-add-to-cart {
      display: none;
    }

    .goods-property__ctrl {
      display: block;
    }

    .small-goods__prop--list {
      font-size: 12px;
      height: auto;
      padding: 10px 0;
    }

  }
}



///////////////////////////// goods //////////////////////

.goods-wrapper {
  max-width: 222px;
  height: 330px;
  position: relative;
  cursor: pointer;
  transition: .3s ease 0s;
}

.goods {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.goods-link {
  font-family: $proxima-bold;
  color: #343434;
  letter-spacing: .4px;
  margin-bottom: 5px;
  transition: .3s ease 0s;
  height: 13px;
  overflow: hidden;
}

.goods-price-current {
  font-family: $font-bold;
  font-size: 16px;
  color: #343434;
  display: inline-block;
  margin-right: 5px;
}

.goods-price-old {
  font-family: $font-bold;
  font-size: 12px;
  color: #c9c9c9;
  display: inline-block;
  margin-right: 5px;
}

.goods-add-to-cart {
  display: inline-block;
  float: right;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
  transition: .3s ease;
  &:hover {
    background-color: #e6e4e4;
  }
  .icon-basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.goods-image {
  height: 225px;
  position: relative;
  margin-bottom: 22px;
  transition: .3s ease 0s;
  a {
    display: block;
    height: 100%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      //transition: .3s ease 0s;
    }
  }
  &__label {
    position: absolute;
    top: -5px;
    left: -5px;
  }
  &--gray {
    background-color: #f0f0f0;
    transition: height .6s ease;
  }
}

.goods-property {
  &__list {
    height: 0;
    overflow: hidden;

    color: #fff;
    text-align: center;

    &--item {
      font-family: $font-light;
      font-size: 0;
      margin-bottom: 5px;
      transition: .2s ease 0s;
      b {
        font-family: $font-bold;
      }
    }

  }
  &__ctrl {
    padding: 10px 0;
    display: none;
    &--icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #fff;
      position: relative;
      cursor: pointer;
      transition: .3s ease 0s;
      margin-right: 7px;
      .iconmoon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
      &:hover {
        background-color: #fff;
        color: $text-color;
      }
    }
  }
}

.goods-subtitle {
  height: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}



@media (min-width: 1280px) {
  .goods:hover {
    background-color: #0152a1;
    text-align: center;
    color: #fff;
    z-index: 20;

    .goods-image--gray {
      background-color: #0152a1;
    }

    .goods-image {
      height: 140px;
    }

    .goods-image a img {
      max-height: 60%;
      width: auto;
    }

    .goods-link {
      color: #fff;
    }

    .goods-price-current {
      color: #fff;
    }
    .goods-add-to-cart {
      display: none;
    }

    .goods-property {
      &__list {
        height: auto;
        margin-bottom: 15px;
        &--item {
          font-size: 12px;
        }
      }
    }

    .goods-property__ctrl {
      display: block;
    }
  }
}

//////////////////////////////////// goods horizontal //////////////////////////////////

.goods-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buy {
    a {
      display: inline-block;
      background-color: #00b33d;
      padding: 10px 20px;
      color: #fff;
      transition: .3s ease;
      border-radius: 3px;
      &:hover {
        background-color: #069600;
      }
    }
  }

  &__compare {
    a {
      display: inline-block;
      background-color: #f0f0f0;
      padding: 10px 20px;
      color: #707070;
      transition: .3s ease;
      border-radius: 3px;
      &:hover {
        background-color: #d5d5d5;
      }
    }
  }
  .goods-subtitle {
    margin-bottom: 0;
    color: #707070;
  }

  .goods-image {
    height: 125px;
    width: 125px;
    margin-bottom: 0;
    a {
      img {
        max-height: 70%;
        width: auto;
      }
    }
  }

  .goods-property__ctrl {
    display: block;
  }

  .goods-property__ctrl--icon {
    width: auto;
    height: auto;
    border-radius: 0;
    border: 0;
    margin-right: 0;
    margin-left: 10px;

    .iconmoon {
      position: relative;
      top: 1px;
      left: 0;
      transform: translate(0, 0);
      display: inline-block;
      margin-right: 5px;
    }
  }
}

@media ($mobile) {

  .goods-horizontal {
    display: block;
    width: 235px;
    margin-left: auto;
    margin-right: auto;

    .goods-image {
      height: 225px;
      width: auto;
      margin-bottom: 22px;
    }

    .goods-property__ctrl--icon {
      margin-right: 3px;
      margin-left: 0;
    }

    .goods-subtitle {
      margin-bottom: 20px;
    }
  }
}

/////////////////////////////////////////// link arrow ////////////////////////////////

.link-arrow {
  font-family: $proxima-semibold;
  text-transform: uppercase;
  font-size: 12px;
  color: #1d1d1d;
  transition: .3s ease;
  &.white {
    color: #fff;
    span {

      transition: .3s ease;
      &:after {
        border-color: #fff;
      }
      &:before {
        background-color: #fff;
      }
    }

  }
  &.inverse {
    span {
      padding-right: 0;
      padding-left: 25px;
      &:after {
        transform: rotateZ(-135deg);
        position: absolute;
        left: 0;
      }
      &:before {
        top: 5px;
        left: 2px;
      }
    }
  }
  &:hover {
    color: #006cbf;
    span {
      &:after {
        border-color: #006cbf;
      }
      &:before {
        background-color: #006cbf;
      }
    }
  }

  &.link-arrow--blue {
    color: #006cbf;
    span {
      &:after {
        border-color: #006cbf;
      }
      &:before {
        background-color: #006cbf;
      }
    }
  }
  span {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-top: 2px solid #1d1d1d;
      border-right: 2px solid #1d1d1d;
      transform: rotateZ(45deg);
      position: absolute;
      top: 3px;
      right: 0;
      transition: .3s ease;
    }
    &:before {
      content: '';
      display: block;
      width: 8px;
      background-color: #1d1d1d;
      height: 2px;
      position: absolute;
      top: 5px;
      right: 2px;
      transition: .3s ease;
    }
  }
}

/////////////////////////////////////// slick slider ////////////////////////

.slick-arrow {
  background-color: transparent;
  color: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #0d0d0d;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 5;
  margin-top: -20px;
  transition: .3s ease;
  &:hover {
    background-color: #0d0d0d;
    &:before {
      border-color: #fff;
    }
    &:after {
      background-color: #fff;
    }
  }
  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    transition: .3s ease;
  }
  &:after {
    width: 13px;
    height: 2px;
    background-color: #0d0d0d;
    top: 18px;
    left: 11px;
  }
  &:before {
    width: 10px;
    height: 10px;
    border-top: 2px solid #0d0d0d;
    border-right: 2px solid #0d0d0d;
  }
  &.slick-next {
    right: 0;
    &:before {
      transform: rotateZ(45deg);
      top: 14px;
      left: 13px;
    }
  }
  &.slick-prev {
    left: 0;
    &:before {
      transform: rotateZ(-135deg);
      top: 14px;
      left: 12px;
    }
  }

}

.slick-dots {
  text-align: center;
  padding: 10px 0;
  font-size: 0;
  .slick-active {
    border-color: $text-color;
    background-color: #fff;
    button {
      display: none;
    }
  }
  li {
    display: inline-block;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    border: 2px solid transparent;


    button {
      padding: 0;
      color: transparent;
      width: 7px;
      height: 7px;
      border: 0;
      border-radius: 50%;
      background-color: #969696;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

///////////////////////////////// social list //////////////////////////

.social-list {
  li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: 33px;
    height: 33px;
    border: 2px solid #55545a;
    color: #55545a;
    border-radius: 50%;
    overflow: hidden;
    &:hover {
      color: #000;
      border-color: #000;
    }
    a {
      display: block;
      height: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
}
 /////////////////////////////////////// one -two item slider
.two-item-slider, .one-item-slider, .related-product__slider {
  height: 455px;
  position: relative;
  z-index: 1;

  &.height-auto {
    height: auto;
  }

  &.slider-hover {
    .slick-list {
      height: 720px;
    }
    .slick-dots {
      position: relative;
      bottom: 285px;
      z-index: -1;

    }
  }
}

.related-product__slider {
  height: 360px;
}

.four-item-slider {
  .slick-arrow {
    &.slick-next {
      left: -250px;
      margin-top: 15px;
    }
    &.slick-prev {
      left: -300px;
      margin-top: 15px;
    }
  }
}

.four-image-slider {

  .slick-dots {
    padding: 30px 0;
  }

  &__item {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;

    img {
      @include center;
    }
  }
}

/////////////////////////////// modals ///////////////////

.modal {
  z-index: 103;
  background-color: rgba(0,0,0, .8);
}

.close {
  float: right;
  font-size: 25px;
  font-weight: lighter;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  &:hover {
    color: #fff;
  }
}


//////////////////////////////////////// slider video /////////////////////////////////

.slider-video {
  min-width: 100%;
  display: block;
}

@media ($mobile) {
  .slider-video {
    min-width: 100%;
    display: block;
    height: 100%;
  }
}

//////////////////////////////// dropdown //////////////////////////////////////

.dropdown {
  margin-right: 20px;
}

.dropdown.show .dropdown-toggle:after {
  transform: rotateZ(-45deg);
  border-color: #fff;
  top: 8px;
}
.dropdown.show .dropdown-toggle:before {
  background-color: #ff7038;
}
.dropdown-toggle {
  font-family: $font-bold;
  font-size: 16px;
  &:hover {
    &:before {
      background-color: rgba(0, 0, 0, 0.25);
    }
    &:after {
      border-color: #d5d5d5;
    }

  }
  &:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: -18px;
    background-color: transparent;
    transition: .3s ease;
  }
  &:after {
    display: inline-block;
    content: "";
    height: 6px;
    width: 6px;
    border-top: 2px solid $text-color;
    border-right: 2px solid $text-color;
    border-left: 0;
    transform: rotateZ(135deg);
    position: absolute;
    top: 6px;
    right: -15px;
    transition: .3s ease;
  }
}

.dropdown-menu {
  left: inherit;
  right: -32px;
  top: 30px;
  min-width: inherit;
  border-radius: 2px;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  text-align: center;
  border: 0;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
  background-color: #064579;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 14px solid #064579;
    position: absolute;
    top: -7px;
    right: 10px;
  }
  li {

    a {

      padding: 6px 30px;
      display: block;
      white-space: nowrap;
      transition: .3s ease;

      .link {
        border-color: #fff;
        font-size: 11px;
        transition: none;
      }

    }
  }
}

/////////////////////////////////////// custom checkbox /////////////////////////////

.custom-checkbox {
  display: none;
  &:checked {
    &+.custom-checkbox-label {
      font-family: $proxima-semibold;
      color: #191919;
      &:after {
        opacity: 1;
      }
    }
  }
  &:disabled {
    &+.custom-checkbox-label {
      color: #e5e4e4;
    }
  }
}

.custom-checkbox-label {
  display: inline-block;
  padding-left: 25px;
  position: relative;
  color: #818181;
  font-family: $proxima-regular;
  transition: .3s ease;
  cursor: pointer;
  &:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: -1px;
    left: 1px;
    background: url("../img/svg/checked.svg") no-repeat center;
    background-size: contain;
    opacity: 0;
    transition: opacity .3s ease;
  }
}

/////////////////////////////////// close button //////////////////////////////

.close-btn {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &:before, &:after {
    position: absolute;
    left: 9px;
    top: 4px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &.close-btn--sm {
    width: 15px;
    height: 15px;
    &:before, &:after {
      position: absolute;
      left: 7px;
      top: 3px;
      content: ' ';
      height: 9px;
      width: 1px;
      background-color: #333;
    }
  }

}


