@media ($desktop) {


  .top-slider__item--left {
    width: 70%;
    padding-left: 0;
    padding-right: 30px;
  }

  .top-slider__item--right {
    width: 30%;
    position: relative;
    height: 67vh;
  }

  .top-slider__item {
    height: 500px;
    padding: 0 10%;
  }

  .top-slider-block {
    height: 560px;
  }

  .block-orange-bg {
    height: inherit;
    margin-bottom: 20px;
  }

  .section-title__border:after {
    left: -110px;
  }

  .section-block {
    padding: 40px 0 0;
  }

  .two-item-slider, .one-item-slider {
    margin-bottom: 25px;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: -235px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: -185px;
  }

  .main-reviews__item {
    background-color: #f0f0f0;
  }

  .main-reviews__item:hover {
    border-bottom-color: #f0f0f0;
  }

  .main-reviews__item .main-reviews__item--link {
    opacity: 1;
  }

  .main-video-slider__front .slick-arrow.slick-next {
    right: 170px;
  }

  .main-video-slider__front .slick-arrow.slick-prev {
    left: 170px;
  }

  .main-video-slider__back--item,
  .main-video-slider,
  .main-video-slider__front--item {
    height: 360px;
  }







}

