@media ($desktop) {


  .top-slider__item--left {
    width: 70%;
    padding-left: 0;
    padding-right: 30px;
  }

  .top-slider__item--right {
    width: 30%;
    position: relative;
    height: 67vh;
  }

  .top-slider__item {
    height: 500px;
    padding: 0 10%;
  }

  .top-slider-block {
    height: 560px;
  }

  .block-orange-bg {
    height: inherit;
    margin-bottom: 20px;
  }

  .section-title__border:after {
    left: -110px;
  }

  .section-block {
    padding: 40px 0 0;
  }

  .two-item-slider, .one-item-slider {
    margin-bottom: 25px;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: -235px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: -185px;
  }

  .main-reviews__item {
    background-color: #f0f0f0;
  }

  .main-reviews__item:hover {
    border-bottom-color: #f0f0f0;
  }

  .main-reviews__item .main-reviews__item--link {
    opacity: 1;
  }

  .main-video-slider__front .slick-arrow.slick-next {
    right: 170px;
  }

  .main-video-slider__front .slick-arrow.slick-prev {
    left: 170px;
  }

  .main-video-slider__back--item,
  .main-video-slider,
  .main-video-slider__front--item {
    height: 360px;
  }

  .right-block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 25px;
    padding-top: 5px;
  }

  .left-block {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .media.big .media-image {
    height: 320px;
    width: 575px;
    margin-right: 40px;
    position: relative;
  }

  .media.big {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .media.big .media-body__title {
    font-size: 30px;
    max-height: 180px;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .media-body__title {
    font-size: 22px;
    max-height: 80px;
  }

  .media-body {
    padding-top: 5px;
    max-width: none;
  }

  .media-image {
    margin-right: 25px;
  }

  .category-block__list--item {
    width: 28%;
  }

  .category-block__list {
    margin-bottom: 40px;
  }

  .three-items-block {

    .padding-lg-block {
      margin-bottom: 30px;
    }
  }

  .article-slide {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .one-item-slider-2 {
    .slick-dots {
      margin-bottom: 25px;
    }
  }







}

