@media ($desktop) {


  .top-slider__item--left {
    width: 70%;
    padding-left: 0;
    padding-right: 30px;
  }

  .top-slider__item--right {
    width: 30%;
    position: relative;
    height: 67vh;
  }

  .top-slider__item {
    height: 500px;
    padding: 0 10%;
  }

  .top-slider-block {
    height: 560px;
  }

  .top-banner-label {
    width: 196px;
    height: 296px;
    right: -51px;
    bottom: 211px;
    transform: scale(.6);
  }

  .block-orange-bg {
    height: inherit;
    margin-bottom: 20px;
  }

  .section-title__border:after {
    left: -110px;
  }

  .section-block {
    padding: 40px 0 0;
  }

  .two-item-slider, .one-item-slider {
    margin-bottom: 25px;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: -235px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: -185px;
  }

  .main-reviews__item {
    background-color: #f0f0f0;
  }

  .main-reviews__item:hover {
    border-bottom-color: #f0f0f0;
  }

  .main-reviews__item .main-reviews__item--link {
    opacity: 1;
  }

  .main-video-slider__front .slick-arrow.slick-next {
    right: 170px;
  }

  .main-video-slider__front .slick-arrow.slick-prev {
    left: 170px;
  }

  .main-video-slider__back--item,
  .main-video-slider,
  .main-video-slider__front--item {
    height: 360px;
  }

  .right-block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 25px;
    padding-top: 5px;
  }

  .left-block {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .media.big .media-image {
    height: 320px;
    width: 575px;
    margin-right: 40px;
    position: relative;
  }

  .media.big {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .media.big .media-body__title {
    font-size: 30px;
    max-height: 180px;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .media-body__title {
    font-size: 22px;
    max-height: 80px;
  }

  .media-body {
    padding-top: 5px;
    max-width: none;
  }

  .media-image {
    margin-right: 25px;
  }

  .category-block__list--item {
    width: 28%;
  }

  .category-block__list {
    margin-bottom: 40px;
  }

  .three-items-block {

    .padding-lg-block {
      margin-bottom: 30px;
    }
  }

  .article-slide {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .one-item-slider-2 {
    .slick-dots {
      margin-bottom: 25px;
    }
  }

  ///////////////////////////////////// catalog ///////////////////////////////

  .catalog-ctrl__label {
    margin-right: 2px;
  }

  .catalog-list {
    padding-top: 340px;

    .col-lg-absolute {
      position: absolute;
      width: 100%;
      height: 315px;
      top: 0;
      left: 0;
    }
  }

  .catalog-list {

    &.catalog-list--horizontal {
      padding-top: 140px;

      .col-lg-absolute {
        height: 125px;
      }

      .catalog-list-slider__item--link {
        top: 40px;
        right: 20px;
      }

      .catalog-list .col-lg-absolute {
        position: absolute;
        width: 100%;
        height: 125px;
        top: 0;
        left: 0;
      }
    }
  }

  /////////////////////////////////// compare ////////////////////////////

  .compare-left-block {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
  }

  .compare-right-block {
    flex: 0 0 75%;
    max-width: 75%;
  }

  ///////////////////////////////////// product detail //////////////////////////////////

  .product-slider__right {
    margin-top: 0;
    padding-top: 49px;
    margin-bottom: -50px;
  }

  .product-slider__left--item {
    width: 360px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-slider {
    margin-top: 0;
  }

  .product-name {
    max-width: 100%;
  }

  .product-tab-ctrl__item--title {
    font-size: 16px;
    line-height: 2;
  }

  .tab-spoiler-container {
    height: 405px;
  }

  .product-sliders-review {
    margin-bottom: 20px;
  }

  .product-sale-counter .flip-clock-divider {
    width: 4px;
  }

  .product-code {
    display: inline-block;
    white-space: nowrap;
  }

  .product-reviews {
    padding: 20px;
  }

  .product-reviews {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-slider__left--item img {
    max-height: 350px;
    max-width: 350px;
  }

  .product-sticky-block .goods-horizontal .goods-price {
    width: 140px;
  }

  .product-sticky-block .goods-horizontal .goods-property__ctrl {
    width: auto;
  }

  .product-sticky-block .goods-horizontal .goods-property__ctrl {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .product-price.goods-horizontal .goods-property__ctrl {
    margin-left: 0;
    width: auto;
  }

  .product-price.goods-horizontal .goods-property__ctrl {
    margin-left: 0;
    width: auto;
  }

  .product-price .goods-wish, .goods-horizontal .goods-wish {
    display: inline-block;
    position: relative;
    top: 8px;
    left: 0;
  }



  ////////////////////////////////// cart //////////////////////////////

  .modal-dialog.modal-cart {
    max-width: 960px;
  }

  //////////////////////////////////// lk orders /////////////////////////


  .lk-order__prop {
    width: 165px;
    padding-right: 30px;
  }

  .lk-order__amount {
    width: 230px;
    padding-right: 30px;
  }

  .lk-order__prop--num {
    margin-bottom: 5px;
    display: block;
  }

  .lk-order__prop--num:after {
    content: none;
  }

  .goods-lk-order-wrapper .goods-subtitle {
    width: 115px;
  }
  .goods-lk-order-wrapper .goods-link {
    width: 90px;
  }

  .product-price .goods-wish__tip, .goods-horizontal .goods-wish__tip {
     margin-left: 0;
  }


  ///////////////////////////////////// order detail //////////////////////////

  .order-detail-cart {
    padding-left: 0;
    margin-bottom: 30px;
  }

  .order-detail-forms {

    .product-tab-ctrl__item--title {
      font-size: 14px;
      background-color: transparent;
      color: #343434;
      padding: 0;
    }
    .product-tab-ctrl__item.active .product-tab-ctrl__item--title {
      color: #343434;
      background-color: transparent;
    }
  }

  ///////////////////////////////////////// 404 page //////////////////////////////////

  .ff-left .block-w-border {
    width: 340px;
  }

  .ff-left .bold-text {
    font-size: 200px;
  }

  .ff-right__title {
    font-size: 36px;
  }

  .ff-right__subtitle {
    font-size: 26px;
  }



}

