@media ($tablet) {

  a {
    transition: none !important;
  }

  .top-slider-title {
    font-size: 35px;
  }

  .top-slider-text {
    margin-bottom: 30px;
  }

  .top-slider-block {
    height: 500px;
  }

  .top-slider__item {
    height: 450px;
    padding: 0 5%;
  }

  .section-block {
    padding: 25px 0 0;
  }

  .block-orange-bg {
    margin-bottom: 10px;
  }

  .block-w-border, .block-yellow-bg {
    height: auto;
    margin-bottom: 10px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: -120px;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: -175px;
  }

  .section-title__border:after {
    content: none;
  }

  .main-news-item__left {
    padding-left: 0;
  }

  .main-news-slider {
    padding: 50px 0 20px;
  }

  .main-completed-work__left {
    width: 40%;
  }

  .main-completed-work__right {
    width: 60%;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 0;
  }

  .section-title {
    font-size: 30px;
  }

  .main-contacts-block {
    height: 225px;
  }

  .main-video-slider__back--item img {
    width: auto;
    height: 100%;
    max-width: none;
  }

  .main-video-slider__front .slick-arrow.slick-next {
    right: 0;
  }

  .main-video-slider__front .slick-arrow.slick-prev {
    left: 0;
  }

  .right-block, .left-block {
    display: block;
    max-width: 100%;
    padding-left: 0;
    padding-top: 0;
  }

  .media-image {
    margin-right: 25px;
  }

  .right-block {
    margin-bottom: 30px;
  }

  .left-block {
    margin-bottom: 30px;
  }

  .left-sidebar {
    display: none;
    padding-top: 10px;
  }

  .left-block__mob-title a {
    display: block;
  }

  .left-sidebar__item > a {
    display: block;
    padding: 12px 12px 9px;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .left-sidebar__item {
    margin-bottom: 5px;
  }

  .left-sidebar-second {
    padding: 7px 25px 6px;
  }

  .right-block.offset-left {
    margin-left: 0;
  }

  .four-image-slider__item {
    margin: auto;
  }

  .media.big {
    display: block;
  }

  .media.big .media-image {
    height: auto;
    width: 100%;
    margin-right: 0;
    max-width: 100%;
  }

  .media.big .media-image img {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
  }

  .media.image-less .media-body {
    padding-left: 0;
    margin-bottom: 30px;
  }























}