@media ($tablet) {

  body:before {
    height: 50px;
  }

  a {
    transition: none !important;
  }

  .top-slider-title {
    font-size: 35px;
  }

  .top-slider-text {
    margin-bottom: 30px;
  }

  .top-slider-block {
    height: 500px;
  }

  .top-slider__item {
    height: 450px;
    padding: 0 5%;
  }

  .section-block {
    padding: 25px 0 0;
  }

  .block-orange-bg {
    margin-bottom: 10px;
  }

  .block-w-border, .block-yellow-bg {
    height: auto;
    margin-bottom: 10px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: -120px;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: -175px;
  }

  .section-title__border:after {
    content: none;
  }

  .main-news-item__left {
    padding-left: 0;
  }

  .main-news-slider {
    padding: 50px 0 20px;
  }

  .main-completed-work__left {
    width: 40%;
  }

  .main-completed-work__right {
    width: 60%;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 0;
  }

  .section-title {
    font-size: 30px;
  }

  .main-contacts-block {
    height: 225px;
  }

  .main-video-slider__back--item img {
    width: auto;
    height: 100%;
    max-width: none;
  }

  .main-video-slider__front .slick-arrow.slick-next {
    right: 0;
  }

  .main-video-slider__front .slick-arrow.slick-prev {
    left: 0;
  }

  .right-block, .left-block {
    display: block;
    max-width: 100%;
    padding-left: 0;
    padding-top: 0;
  }

  .media-image {
    margin-right: 25px;
  }

  .right-block {
    margin-bottom: 30px;
  }

  .left-block {
    margin-bottom: 15px;
  }

  .left-sidebar {
    display: none;
    padding-top: 10px;
  }

  .left-block__mob-title a {
    display: block;
  }

  .left-sidebar__item > a {
    display: block;
    padding: 12px 12px 9px;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .goods-combo .goods-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .small-goods-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .left-sidebar__item {
    margin-bottom: 5px;
  }

  .left-sidebar-second {
    padding: 7px 25px 6px;
  }

  .right-block.offset-left {
    margin-left: 0;
  }

  .four-image-slider__item {
    margin: auto;
  }

  .media.big {
    display: block;
  }

  .media.big .media-image {
    height: auto;
    width: 100%;
    margin-right: 0;
    max-width: 100%;
  }

  .media.big .media-image img {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
  }

  .media.image-less .media-body {
    padding-left: 0;
    margin-bottom: 30px;
  }

  .padding-lg-block.block-yellow-bg {
    padding: 25px 40px 40px;
  }

  .category-block__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  ///////////////////////////////////// catalog ///////////////////////////////

  .catalog-ctrl-wrapper {
    display: none;

    &__item {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }

  .catalog-title.catalog-title__mob {
    display: block;
  }
  .catalog .catalog-title {
    display: none;
  }

  .filter {
    margin-top: 15px;
  }

  .filter-wrapper {
    display: none;
  }

  .filter__mob-title, .catalog-ctrl__title--mob {
    display: block;
    border: 1px solid #b5b5b5;
    padding: 10px 10px 8px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    font-family: "Proxima-Nova-Regular", sans-serif;
    font-size: 16px;
    color: #1d1d1d;
    margin-bottom: 15px;

    &:after {
      display: inline-block;
      content: "";
      height: 6px;
      width: 6px;
      border-top: 1px solid #343434;
      border-right: 1px solid #343434;
      -webkit-transform: rotateZ(135deg);
      -ms-transform: rotate(135deg);
      transform: rotateZ(135deg);
      position: absolute;
      top: 16px;
      right: 13px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }

  }

  .filter__mob-title.open:after, .catalog-ctrl__title--mob.open:after {
    transform: rotateZ(-45deg);
  }

  .catalog-ctrl {
    padding: 0 0 5px;
  }

  .catalog {
    margin-bottom: 10px;
  }

  .three-items-block {
    margin-bottom: 10px;
  }

  .catalog-list-slider__item--title {
    font-size: 33px;
    line-height: 1;
  }


  /////////////////////////////////// compare ////////////////////////////

  .compare-left-block {
    flex: 0 0 35%;
    max-width: 35%;
    padding-right: 10px;
  }

  .compare-right-block {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .compare-ctrl {
    padding-top: 0;
    padding-left: 0;
  }

  .compare-ctrl__mob a{
    display: block;
  }

  .compare-ctrl__item {
    font-size: 13px;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .compare-ctrl__item.title a {
    padding: 10px 15px 5px;
  }

  .compare-ctrl {
    display: none;
  }

  .compare-ctrl-wrapper {
    margin-bottom: 20px;
  }


  /////////////////////////////////// product detail //////////////////////////

  .product-slider__left {
    height: 360px;
  }

  .product-sticky-block {
    display: none;
  }

  .tab-spoiler-container {
    height: 285px;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 1px 7px rgba(255, 255, 255, .8);
    }
  }

  .reviews-tab {
    padding-right: 0;
  }

  .property-tab {
    padding-left: 0;
  }

  .product-tab {
    margin-bottom: 25px;
  }

  .product-useful-block {
    padding-top: 0;
    padding-bottom: 1px;
  }

  .product-name {
    font-size: 20px;
  }

  .product-price.goods-horizontal {
    width: 100%;
  }

  .product-price.goods-horizontal .goods-price-current {
    font-size: 20px;
  }

//////////////////////////////////////// cart /////////////////////////////////////////

  .cart-table__header td:first-child {
    width: 20px;
  }

  .cart-table__header td:nth-child(2) {
    width: 140px;
  }

  .cart-table__header td:last-child {
    width: 40px;
  }

  .cart-table__item td,
  .cart-table__header td {
    padding-right: 8px;
    padding-left: 8px;
  }

  .cart-table .goods-price .goods-price-current {
    white-space: nowrap;
  }

  .goods-amount {
    margin-right: 10px;
  }

  .modal-dialog.modal-cart {
    max-width: 95%;
  }



  ///////////////////////////////////////// order detail /////////////////////


  .order-detail-forms {
    max-width: 100%;
  }

  .order-detail-forms .lp-block .input-block__item {
    max-width: 100%;
  }

  .order-detail-forms .input-block__item {
    max-width: 100%;
  }

  .cart-promo .main-contacts__choice {
    width: 100%;
    margin: auto;
  }

/////////////////////////////////////////// five item slider /////////////////////////////

  .five-item-slider-block {
    margin-bottom: 10px;
  }


  ///////////////////////////////// 404 page ///////////////////////////////

  .ff-left .block-w-border {
    width: 100%;
    height: 100%;
  }

  .ff-left .bold-text {
    font-size: 150px;
  }

  .ff-right__title {
    font-size: 28px;
  }

  .ff-right__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

/////////////////////////////////// contacts page ////////////////////////////////

  .contacts-right {
    max-width: 100%;
  }












}