@media ($mobile) {

  .breadcrumbs {
    padding: 10px 0;
    font-size: 13px;
  }

  .top-slider-goods-set__list {
    display: none;
  }
  .top-slider__item {
    height: 200px;
  }

  .top-slider-block {
    height: 230px;
  }

  .top-slider__item--left {
    padding-left: 0;
    padding-right: 0;
  }

  .top-slider-subtitle {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .top-slider-title {
    font-size: 24px;
  }

  .section-block {
    padding: 20px 10px 0;
    overflow: hidden;
  }

  .block-orange-bg__image {
    float: none;
    text-align: center;
  }

  .block-orange-bg__btn--prop {
    margin-right: 10px;
  }

  .block-orange-bg__title {
    font-size: 30px;
  }




  .main-news-item__left {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 15px;
  }

  .main-news-item__right {
    width: 100%;
  }

  .main-completed-work {
    padding: 0;
    display: block;
  }

  .main-completed-work__left {
    width: 100%;
  }

  .main-completed-work__right {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }

  .section-subtitle {
    margin-bottom: 5px;
  }

  .main-completed-work__right .section-goods-link {
    margin: 0 0 5px;
  }

  .main-completed-work__right .section-goods-price {
    margin-bottom: 15px;
  }

  .main-completed-work-item {
    margin: 10px 0 0;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: 0;
    top: 77px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: inherit;
    top: 77px;
  }

  .main-reviews__link {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .main-brand a {
    height: 238px;
  }

  .main-reviews__item {
    background-color: #f0f0f0;
  }

  .main-reviews__item:after {
    border-bottom-color: #f0f0f0;
  }

  .main-reviews {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .main-contacts {
    margin-top: 0;
  }

  .main-contacts .section-subtitle {
    margin-top: 0;
  }

  .main-contacts__map {
    padding-left: 0;
    margin-top: 15px;
  }

  .section-block.section-block__slider {
    padding: 30px 0 30px;
  }

  .main-video-slider__front .slick-center .video-slide {
    width: 300px;
  }

  .main-video-slider__back--item img {
    width: auto;
    max-width: none;
  }

  .main-video-slider__front {
    .video-slide {
      opacity: 0;
    }
    .slick-center {
      .video-slide {
        opacity: 1;
      }
    }
  }

  .main-video-slider__front .slick-arrow{
    opacity: .5;
  }

  .main-reviews__item {
    margin: 25px auto 0;
    max-width: 230px;
  }

  .main-news-slider .slick-dots {
    margin-top: 0;
  }

  .modal-dialog-video iframe {
    min-height: 200px;
  }

  .pagination {
    display: block;
    text-align: center;
  }

  .media {
    margin-bottom: 25px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
  }

  .media-image {
    margin: 0 auto 15px;
  }

  .pagination-left {
    margin-bottom: 15px;
  }

  .related-product__slider {
    height: auto;
    margin-bottom: 10px;
  }

  .page-title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .media.big .media-body__title {
    font-size: 22px;
    max-height: none;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .text-block h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .related-product__title {
    font-size: 18px;
  }

  .media-body__title {
    max-height: none;
    font-size: 20px;
  }

  .detail-ctrl {
    .link-arrow {
      line-height: 3;
      span {
        color: transparent;
        font-size: 6px;
        line-height: 3;
      }
    }
  }

  .category__image {
    height: 140px;
    width: 140px;
    position: relative;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .category-block__list--item {
    width: 50%;
    margin-right: 0 !important;
    text-align: center;
  }

  ///////////////////////////////////// catalog //////////////////////////////
  .catalog-list-slider__item {
    padding: 45px 25px 16px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item {
    height: 315px;
    position: relative;
    padding: 45px 25px 16px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--subtitle {
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    transform: rotateZ(0deg) translate(0, 0);
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--title {
    height: 105px;
    margin-bottom: 34px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider .slick-dots {
    position: absolute;
    bottom: 35px;
    right: 25px;
  }

  .catalog-list.catalog-list--horizontal {
    padding-top: 330px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--link {
    top: 0;
    right: 0;
    position: relative;
  }

  .catalog-list.catalog-list--horizontal .goods-horizontal {
    margin-bottom: 25px;
  }















}