@media ($mobile) {

  .breadcrumbs {
    padding: 10px 0;
    font-size: 13px;
  }

  .top-slider-goods-set__list {
    display: none;
  }
  .top-slider__item {
    height: 200px;
  }

  .top-slider-block {
    height: 230px;
  }

  .top-slider__item--left {
    padding-left: 0;
    padding-right: 0;
  }

  .top-slider-subtitle {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .top-slider-title {
    font-size: 24px;
  }

  .section-block {
    padding: 20px 10px 0;
    overflow: hidden;
  }

  .block-orange-bg__image {
    float: none;
    text-align: center;
  }

  .block-orange-bg__btn--prop {
    margin-right: 10px;
  }

  .block-orange-bg__title {
    font-size: 30px;
  }



  .main-contacts__choice .dropdown-menu {
    right: 0;
  }

  .main-contacts__choice .dropdown-toggle:before {
    height: 8px;
    width: 8px;
    top: 4px;
  }

  .main-news-slider {
    padding: 35px 0 30px;
  }


  .main-news-item__left {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

  .main-news-item__right .block-w-border {
    margin-bottom: 20px;
  }

  .main-news-item__right {
    width: 100%;
  }

  .main-news-item {
    padding-bottom: 20px;
  }

  .main-completed-work {
    padding: 0;
    display: block;
    margin-bottom: 25px;
  }

  .main-completed-work__left {
    width: 100%;
  }

  .main-completed-work__right {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }

  .section-subtitle {
    margin-bottom: 5px;
  }

  .main-completed-work__right .section-goods-link {
    margin: 0 0 5px;
  }

  .main-completed-work__right .section-goods-price {
    margin-bottom: 15px;
  }

  .main-completed-work-item {
    margin: 10px 0 0;
  }

  .four-item-slider .slick-arrow.slick-prev {
    left: 0;
    top: 77px;
  }

  .four-item-slider .slick-arrow.slick-next {
    left: inherit;
    top: 77px;
  }

  .main-reviews__link {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .main-brand a {
    height: 238px;
  }

  .main-reviews__item {
    background-color: #f0f0f0;
  }

  .main-reviews__item:after {
    border-bottom-color: #f0f0f0;
  }

  .main-reviews {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .main-contacts {
    margin-top: 0;
  }

  .main-contacts .section-subtitle {
    margin-top: 0;
  }

  .main-contacts__map {
    padding-left: 0;
    margin-top: 15px;
  }

  .section-block.section-block__slider {
    padding: 30px 0 30px;
  }

  .main-video-slider__front .slick-center .video-slide {
    width: 300px;
  }

  .main-video-slider__back--item img {
    width: auto;
    max-width: none;
  }

  .main-video-slider__front {
    .video-slide {
      opacity: 0;
    }
    .slick-center {
      .video-slide {
        opacity: 1;
      }
    }
  }

  .main-video-slider__front .slick-arrow{
    opacity: .5;
  }

  .main-reviews__item {
    margin: 25px auto 0;
    max-width: 230px;
  }

  .main-news-slider .slick-dots {
    margin-top: 0;
  }

  .modal-dialog-video iframe {
    min-height: 200px;
  }

  .pagination {
    display: block;
    text-align: center;
  }

  .media {
    margin-bottom: 25px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
  }

  .media-image {
    margin: 0 auto 15px;
  }

  .pagination-left {
    margin-bottom: 15px;
  }

  .related-product__slider {
    height: auto;
    margin-bottom: 10px;
  }

  .page-title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .media.big .media-body__title {
    font-size: 22px;
    max-height: none;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .text-block h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .related-product__title {
    font-size: 18px;
  }

  .media-body__title {
    max-height: none;
    font-size: 20px;
  }

  .detail-ctrl {
    .link-arrow {
      line-height: 3;
      span {
        color: transparent;
        font-size: 6px;
        line-height: 3;
      }
    }
  }

  .category__image {
    height: 140px;
    width: 140px;
    position: relative;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .category-block__list--item {
    width: 50%;
    margin-right: 0 !important;
    text-align: center;
  }

  ///////////////////////////////////// catalog //////////////////////////////
  .catalog-list-slider__item {
    padding: 45px 25px 16px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item {
    height: 315px;
    position: relative;
    padding: 45px 25px 16px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--subtitle {
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    transform: rotateZ(0deg) translate(0, 0);
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--title {
    height: 105px;
    margin-bottom: 34px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider .slick-dots {
    position: absolute;
    bottom: 35px;
    right: 25px;
  }

  .catalog-list.catalog-list--horizontal {
    padding-top: 330px;
  }

  .catalog-list.catalog-list--horizontal .catalog-list-slider__item--link {
    top: 0;
    right: 0;
    position: relative;
  }

  .catalog-list.catalog-list--horizontal .goods-horizontal {
    margin-bottom: 25px;
  }


  .goods-compare .goods-image {
    height: 160px;
  }

  .compare-left-block,
  .compare-right-block {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
  }

  .compare-slider .slick-arrow.slick-next {
    left: -85px;
  }
  .compare-slider .slick-arrow.slick-prev {
    left: -130px;
  }

  .compare-ctrl__item.title {
    font-size: 20px;
  }

  .compare-ctrl {
    padding-bottom: 10px;
  }

  .pagination-left__link--label {
    color: #707070;
    margin-left: 0;
    display: block;
    margin-top: 10px;
  }

  .compare-left-block__ctrl--add {
    text-align: center;
  }

  .compare-left-block__ctrl {
    height: 321px;
  }

  .compare-slider__top--item {
    width: 175px;
  }

  .compare-slider__bottom .goods-property__list--item {
    width: 150px;
    padding-right: 20px;

  }

  .compare-left-block__property--item {
    line-height: 1.4;
  }

  .compare-slider .goods-property__ctrl {
    text-align: left;
  }

  /////////////////////////////////// product detail ////////////////////////////////////

  .offer-slider {
    padding-bottom: 30px;
  }

  .offer-slider .slick-dots {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .product-sliders-review .gray-border {
    margin-bottom: 15px;
  }

  .tab-spoiler-container {
    height: 355px;
  }

  .product-slider__left {
    height: 335px;
    margin-bottom: 10px;
  }

  .product-useful-block {
    padding-bottom: 0;
  }

  .product-slider {
    display: block;
    margin-bottom: 15px;
  }

  .product-slider__left,
  .product-slider__right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-slider > div {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .product-slider__left--item img {
    width: auto;
  }

  .product-slider__left--item {
    width: 100%;
  }

  .product-slider__right {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    max-width: 230px;

    .slick-arrow.slick-next {
      right: -35px;
    }
    .slick-arrow.slick-prev {
      left: -35px;
    }

  }

  .product-price.goods-horizontal .goods-price {
    display: block;
    padding-bottom: 9px;
  }

  .product-sale-block {
    padding: 10px 0;
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
  }

  .product-sale-label {
    display: block;
    margin-bottom: 7px;
  }

  .product-sale-counter {
    display: block;
    text-align: center;
  }

  .product-sale-counter__label {
    display: block;
    max-width: 100%;
    margin-left: 0;
  }

  .property-tab .product-tab-ctrl {
    display: block;
    margin-bottom: 15px;
  }

  .product-tab-ctrl__item {
    display: block;
    margin-right: 0;
    .btn {
      display: block;
      max-width: 220px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-top: 10px;
    }
  }

  .product-tab-ctrl__item.active:after {
    content: none;
  }

  .product-tab-ctrl__item--title {
    font-size: 16px;
    line-height: 2;
    display: block;
    padding: 7px 10px 5px;
    margin-bottom: 5px;
    background-color: $text-gray;
    color: #fff;
    border-radius: 3px;
    &:after {
      display: inline-block;
      content: "";
      height: 6px;
      width: 6px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotateZ(135deg);
      position: absolute;
      top: 20px;
      right: 13px;
      transition: .3s ease;
    }
  }

  .product-tab-ctrl__item.active .product-tab-ctrl__item--title {
    color: #fff;
    background-color: $accent;
    position: relative;
    &:after {
      transform: rotateZ(-45deg);
    }

  }

  .review-sm-block__top--user span {
    margin-right: 0;
    display: block;
    margin-bottom: 5px;
  }

  .review-sm-block__top--user {
    padding-bottom: 7px;
  }

  .product-reviews {
    padding: 0;
  }

  .product-useful {
    margin-bottom: 0;

    .one-item-slider-2 .slick-dots {
      margin-bottom: 10px;
    }
  }

  .reviews-form input[type="text"], .reviews-form textarea {
    width: 100%;
  }

  ////////////////////////////////// cart /////////////////////

  .cart-table-mob-label {
    display: block;
    font-family: $proxima-bold;
    margin-bottom: 5px;
  }
  .cart-table__header {
    display: none;
  }

  .cart-table {
    margin-top: 0;
  }

  .cart-table__item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child {
      margin-bottom: 0;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:before {
      content: '';
      display: table;
      clear: both;
    }


    &>td {
      display: inline-block;
      padding-right: 4px;
      padding-left: 0;
      vertical-align: top;
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(n+3) {
        float: right;
        width: 57%;
        margin-bottom: 10px;
      }

      &:nth-child(2) {
        float: left;
      }

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .goods-horizontal {
      width: 30vw;
      max-width: 160px;
      height: 30vw;
      max-height: 160px;
      margin-left: 0;
      margin-right: 0;
      display: inline-block;

      .goods-image {
        height: 100%;
      }
    }

    .goods-subtitle {
      margin-bottom: 5px;
    }
  }

  .cart-table .goods-label {
    display: inline-block;
    position: relative;
    top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  .goods-amount button {
    width: 26px;
    height: 26px;
    font-size: 20px;
  }

  .goods-amount {
    width: auto;
  }

  .goods-amount-input {
    font-size: 15px;
  }

  .cart-total {
    margin: 10px auto 15px;

    .btn__sm {
      padding: 12px 6px;
    }
    tr {
      td {
        padding: 7px 5px;
      }
    }
  }

  .five-item-slider .slick-dots {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .modal-dialog.modal-cart .modal-content {
    padding: 25px 10px 15px;
  }

  .modal-dialog.modal-cart .modal-header {
    padding-left: 0;
  }
  .cart-total {
    display: block;
    tbody {
      display: block;
    }
    tr {
      &:last-child {
        display: block;
        width: 100%;

        &>td {
          display: block;
          width: 100%;
          .btn {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .cart-total__sale {
      &>td {
        display: inline-block;
        text-align: left;
      }
    }

    .cart-total__current {
      &>td {
        display: inline-block;
        text-align: left;
      }
    }
  }



  ////////////////////////// modal reg ///////////////////////////

  .modal-reg {
    .product-tab-ctrl__item{
      display: inline-block;
      &.active {
        .product-tab-ctrl__item--title{
          background-color: transparent;
          color: #343434;
        }
      }
    }
    .product-tab-ctrl__item--title {
      font-size: 16px;
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      color: #343434;
      border-radius: 0;
      &:after {
        content: none;
      }
    }
  }

  .modal-dialog.modal-reg {
    max-width: 95%;
  }

  .modal-dialog.modal-reg .modal-content {
    padding: 10px 15px;
  }

  .modal-form__item .eye {
    right: -25px;
  }

  .modal-dialog.modal-reg .product-tab-ctrl {
    margin-bottom: 30px;
  }

//////////////////////////////////////// registration ////////////////////////////////////

  .registration-block {
    margin-top: 10px;
    &.input-block {
      max-width: 260px;
    }
  }

////////////////////////////////////// lk //////////////////////////////////////////////

  .lk-order {
    display: block;
    padding-bottom: 0;
  }

  .lk-order__detail {
    width: 100%;
  }

  .lk-order > li {
    padding-right: 0;
    margin-bottom: 5px;
  }

  .lk-order-block__item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .lk-order-list {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .goods-lk-order-wrapper {
    display: block;
  }

  .lk-order-list__item {

    .goods-horizontal {
      width: 100%;
    }

  }

  .goods-lk-order-wrapper .goods-image {
    width: 30vw;
    max-width: 160px;
    height: 30vw;
    max-height: 160px;
    float: left;
    margin-right: 10px;
  }

  .goods-lk-order-wrapper .goods-link {
    margin-left: 0;
    float: right;
    width: 58%;
    margin-bottom: 5px;
  }

  .goods-lk-order-wrapper .goods-subtitle {
    float: right;
    margin-left: 0;
    width: 58%;
    margin-bottom: 5px;
  }
  .lk-order-list__item:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }

  .lk-order-list__item {
    margin-bottom: 15px;

    .goods-code,
    .goods-quantity,
    .goods-price {
      float: right;
      width: 58%;
      margin-bottom: 5px;
    }

  }







}