@charset "UTF-8";

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/open-sans/OpenSansRegular.eot");
  src: url("../fonts/open-sans/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansRegular.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../fonts/open-sans/OpenSansBold.eot");
  src: url("../fonts/open-sans/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansBold.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../fonts/open-sans/OpenSansLight.eot");
  src: url("../fonts/open-sans/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansLight.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.eot");
  src: url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.woff") format("woff"),
  url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.woff2") format("woff2"),
  url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.ttf") format("truetype"),
  url("../fonts/proxima-nova-2/proxima_nova_regular-webfont.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima-Nova-Semibold";
  src: url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.eot");
  src: url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.ttf") format("truetype"),
  url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.woff") format("woff"),
  url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.woff2") format("woff2"),
  url("../fonts/proxima-nova-2/proxima_nova_semibold-webfont.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima-Nova-Extra";
  src: url("../fonts/proxima-nova/ProximaNova-Extrabld.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Extrabld.eot?#iefix")format("embedded-opentype"),
  url("../fonts/proxima-nova/ProximaNova-Extrabld.ttf") format("truetype"),
  url("../fonts/proxima-nova/ProximaNova-Extrabld.woff") format("woff"),
  url("../fonts/proxima-nova/ProximaNova-Extrabld.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima-Nova-Light";
  src: url("../fonts/proxima-nova-2/proxima_nova_light-webfont.eot");
  src: url("../fonts/proxima-nova-2/proxima_nova_light-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/proxima-nova-2/proxima_nova_light-webfont.ttf") format("truetype"),
  url("../fonts/proxima-nova-2/proxima_nova_light-webfont.woff") format("woff"),
  url("../fonts/proxima-nova-2/proxima_nova_light-webfont.woff2") format("woff2"),
  url("../fonts/proxima-nova-2/proxima_nova_light-webfont.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.eot");
  src: url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.ttf") format("truetype"),
  url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.woff") format("woff"),
  url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.woff2") format("woff2"),
  url("../fonts/proxima-nova-2/proxima_nova_bold-webfont.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/awesome/FontAwesome.otf");
  src: url("../fonts/awesome/fontawesome-webfont.woff") format("woff"),
  url("../fonts/awesome/fontawesome-webfont.ttf") format("truetype"),
  url("../fonts/awesome/fontawesome-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconmoon/icomoon.eot?hbse7a');
  src:  url('../fonts/iconmoon/icomoon.eot?hbse7a#iefix') format('embedded-opentype'),
  url('../fonts/iconmoon/icomoon.ttf?hbse7a') format('truetype'),
  url('../fonts/iconmoon/icomoon.woff?hbse7a') format('woff'),
  url('../fonts/iconmoon/icomoon.svg?hbse7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconmoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e91f";
}
.icon-compare:before {
  content: "\e920";
}
.icon-user2:before {
  content: "\e921";
}



