// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$b-action-dark-name: 'b-action-dark';
$b-action-dark-x: 197px;
$b-action-dark-y: 226px;
$b-action-dark-offset-x: -197px;
$b-action-dark-offset-y: -226px;
$b-action-dark-width: 73px;
$b-action-dark-height: 27px;
$b-action-dark-total-width: 393px;
$b-action-dark-total-height: 297px;
$b-action-dark-image: '../img/png_sprite/sprite.png';
$b-action-dark: (197px, 226px, -197px, -226px, 73px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-action-dark', );
$b-action-name: 'b-action';
$b-action-x: 197px;
$b-action-y: 253px;
$b-action-offset-x: -197px;
$b-action-offset-y: -253px;
$b-action-width: 73px;
$b-action-height: 27px;
$b-action-total-width: 393px;
$b-action-total-height: 297px;
$b-action-image: '../img/png_sprite/sprite.png';
$b-action: (197px, 253px, -197px, -253px, 73px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-action', );
$b-new-dark-name: 'b-new-dark';
$b-new-dark-x: 320px;
$b-new-dark-y: 0px;
$b-new-dark-offset-x: -320px;
$b-new-dark-offset-y: 0px;
$b-new-dark-width: 73px;
$b-new-dark-height: 27px;
$b-new-dark-total-width: 393px;
$b-new-dark-total-height: 297px;
$b-new-dark-image: '../img/png_sprite/sprite.png';
$b-new-dark: (320px, 0px, -320px, 0px, 73px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-new-dark', );
$b-new-name: 'b-new';
$b-new-x: 320px;
$b-new-y: 27px;
$b-new-offset-x: -320px;
$b-new-offset-y: -27px;
$b-new-width: 73px;
$b-new-height: 27px;
$b-new-total-width: 393px;
$b-new-total-height: 297px;
$b-new-image: '../img/png_sprite/sprite.png';
$b-new: (320px, 27px, -320px, -27px, 73px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-new', );
$b-recomend-dark-name: 'b-recomend-dark';
$b-recomend-dark-x: 197px;
$b-recomend-dark-y: 118px;
$b-recomend-dark-offset-x: -197px;
$b-recomend-dark-offset-y: -118px;
$b-recomend-dark-width: 111px;
$b-recomend-dark-height: 27px;
$b-recomend-dark-total-width: 393px;
$b-recomend-dark-total-height: 297px;
$b-recomend-dark-image: '../img/png_sprite/sprite.png';
$b-recomend-dark: (197px, 118px, -197px, -118px, 111px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-recomend-dark', );
$b-recomend-name: 'b-recomend';
$b-recomend-x: 197px;
$b-recomend-y: 145px;
$b-recomend-offset-x: -197px;
$b-recomend-offset-y: -145px;
$b-recomend-width: 111px;
$b-recomend-height: 27px;
$b-recomend-total-width: 393px;
$b-recomend-total-height: 297px;
$b-recomend-image: '../img/png_sprite/sprite.png';
$b-recomend: (197px, 145px, -197px, -145px, 111px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-recomend', );
$b-sale-dark-name: 'b-sale-dark';
$b-sale-dark-x: 197px;
$b-sale-dark-y: 172px;
$b-sale-dark-offset-x: -197px;
$b-sale-dark-offset-y: -172px;
$b-sale-dark-width: 111px;
$b-sale-dark-height: 27px;
$b-sale-dark-total-width: 393px;
$b-sale-dark-total-height: 297px;
$b-sale-dark-image: '../img/png_sprite/sprite.png';
$b-sale-dark: (197px, 172px, -197px, -172px, 111px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-sale-dark', );
$b-sale-name: 'b-sale';
$b-sale-x: 197px;
$b-sale-y: 199px;
$b-sale-offset-x: -197px;
$b-sale-offset-y: -199px;
$b-sale-width: 111px;
$b-sale-height: 27px;
$b-sale-total-width: 393px;
$b-sale-total-height: 297px;
$b-sale-image: '../img/png_sprite/sprite.png';
$b-sale: (197px, 199px, -197px, -199px, 111px, 27px, 393px, 297px, '../img/png_sprite/sprite.png', 'b-sale', );
$big-sale-label-name: 'big-sale-label';
$big-sale-label-x: 0px;
$big-sale-label-y: 0px;
$big-sale-label-offset-x: 0px;
$big-sale-label-offset-y: 0px;
$big-sale-label-width: 197px;
$big-sale-label-height: 297px;
$big-sale-label-total-width: 393px;
$big-sale-label-total-height: 297px;
$big-sale-label-image: '../img/png_sprite/sprite.png';
$big-sale-label: (0px, 0px, 0px, 0px, 197px, 297px, 393px, 297px, '../img/png_sprite/sprite.png', 'big-sale-label', );
$black-cart-name: 'black-cart';
$black-cart-x: 348px;
$black-cart-y: 86px;
$black-cart-offset-x: -348px;
$black-cart-offset-y: -86px;
$black-cart-width: 16px;
$black-cart-height: 13px;
$black-cart-total-width: 393px;
$black-cart-total-height: 297px;
$black-cart-image: '../img/png_sprite/sprite.png';
$black-cart: (348px, 86px, -348px, -86px, 16px, 13px, 393px, 297px, '../img/png_sprite/sprite.png', 'black-cart', );
$helper-name: 'helper';
$helper-x: 197px;
$helper-y: 46px;
$helper-offset-x: -197px;
$helper-offset-y: -46px;
$helper-width: 72px;
$helper-height: 72px;
$helper-total-width: 393px;
$helper-total-height: 297px;
$helper-image: '../img/png_sprite/sprite.png';
$helper: (197px, 46px, -197px, -46px, 72px, 72px, 393px, 297px, '../img/png_sprite/sprite.png', 'helper', );
$inverse-cart-name: 'inverse--cart';
$inverse-cart-x: 320px;
$inverse-cart-y: 54px;
$inverse-cart-offset-x: -320px;
$inverse-cart-offset-y: -54px;
$inverse-cart-width: 32px;
$inverse-cart-height: 32px;
$inverse-cart-total-width: 393px;
$inverse-cart-total-height: 297px;
$inverse-cart-image: '../img/png_sprite/sprite.png';
$inverse-cart: (320px, 54px, -320px, -54px, 32px, 32px, 393px, 297px, '../img/png_sprite/sprite.png', 'inverse--cart', );
$sale-label-name: 'sale-label';
$sale-label-x: 197px;
$sale-label-y: 0px;
$sale-label-offset-x: -197px;
$sale-label-offset-y: 0px;
$sale-label-width: 123px;
$sale-label-height: 46px;
$sale-label-total-width: 393px;
$sale-label-total-height: 297px;
$sale-label-image: '../img/png_sprite/sprite.png';
$sale-label: (197px, 0px, -197px, 0px, 123px, 46px, 393px, 297px, '../img/png_sprite/sprite.png', 'sale-label', );
$user-white-name: 'user-white';
$user-white-x: 320px;
$user-white-y: 86px;
$user-white-offset-x: -320px;
$user-white-offset-y: -86px;
$user-white-width: 14px;
$user-white-height: 16px;
$user-white-total-width: 393px;
$user-white-total-height: 297px;
$user-white-image: '../img/png_sprite/sprite.png';
$user-white: (320px, 86px, -320px, -86px, 14px, 16px, 393px, 297px, '../img/png_sprite/sprite.png', 'user-white', );
$user-name: 'user';
$user-x: 334px;
$user-y: 86px;
$user-offset-x: -334px;
$user-offset-y: -86px;
$user-width: 14px;
$user-height: 16px;
$user-total-width: 393px;
$user-total-height: 297px;
$user-image: '../img/png_sprite/sprite.png';
$user: (334px, 86px, -334px, -86px, 14px, 16px, 393px, 297px, '../img/png_sprite/sprite.png', 'user', );
$white-cart-name: 'white-cart';
$white-cart-x: 352px;
$white-cart-y: 54px;
$white-cart-offset-x: -352px;
$white-cart-offset-y: -54px;
$white-cart-width: 32px;
$white-cart-height: 32px;
$white-cart-total-width: 393px;
$white-cart-total-height: 297px;
$white-cart-image: '../img/png_sprite/sprite.png';
$white-cart: (352px, 54px, -352px, -54px, 32px, 32px, 393px, 297px, '../img/png_sprite/sprite.png', 'white-cart', );
$spritesheet-width: 393px;
$spritesheet-height: 297px;
$spritesheet-image: '../img/png_sprite/sprite.png';
$spritesheet-sprites: ($b-action-dark, $b-action, $b-new-dark, $b-new, $b-recomend-dark, $b-recomend, $b-sale-dark, $b-sale, $big-sale-label, $black-cart, $helper, $inverse-cart, $sale-label, $user-white, $user, $white-cart, );
$spritesheet: (393px, 297px, '../img/png_sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
