.page-title {
  font-family: $proxima-extra;
  font-size: 36px;
  margin-bottom: 25px;
}

.pagination {
  padding: 15px 0;

  &>div {
    display: inline-block;
    vertical-align: middle;
  }
  &-left {
    &__link {
      &--label {
        font-family: $font-light;
        font-size: 12px;
        color: #707070;
        margin-left: 8px;
      }
      &--icon {
        display: inline-block;
        background-color: #f0f0f0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        position: relative;
        &:before {
          @include center;
        }
      }
    }
  }

  &-right {
    margin-left: auto;
    font-family: $plumb;
    font-size: 13px;
    &__item {
      &.active {
        &>a {
          background-color: #f0f0f0;
        }
      }
      &>a {
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        line-height: 2.6;
      }
    }
  }
}

.breadcrumbs {
  padding: 34px 0;
  font-family: $proxima-regular;
  color: #707070;
  font-size: 15px;

  &__item {
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      &:after {
        content: '/';
        display: inline-block;
        padding: 0 10px;
        pointer-events: none;
      }
    }
  }
}

.left-block {
  flex: 0 0 18%;
  max-width: 18%;
  &__mob-title {
    a {
      border: 1px solid #b5b5b5;
      padding: 10px 10px 8px;
      border-radius: 3px;
      position: relative;
      font-family: $proxima-regular;
      font-size: 16px;
      color: #1d1d1d;
      display: none;

      &:after {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 1px solid #343434;
        border-right: 1px solid #343434;
        transform: rotateZ(135deg);
        position: absolute;
        top: 16px;
        right: 13px;
        transition: .3s ease;
      }
    }

    &.open {
      a:after {
        transform: rotateZ(-45deg);
      }
    }
  }
}

.right-block {
  flex: 0 0 82%;
  max-width: 82%;
  padding-left: 35px;
  padding-top: 10px;
  &.offset-left {
    margin-left: 18%;
  }
}

.left-sidebar {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 13px;

    &>a {
      color: #818181;
      font-family: $proxima-semibold;
      text-transform: uppercase;
      transition: .3s ease;
      &:hover {
        color: $text-color;
      }
    }

    &.active {
      &>a {
        font-family: $proxima-bold;
        color: #343434;
      }
    }
  }
}

.left-sidebar-second {
  padding: 17px 0 6px;
  display: none;

  &__item {
    margin-bottom: 14px;

    &.active {
      &>a {
        color: $text-color;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &>a {
      color: #b5b5b5;
      transition: .3s ease;
      &:hover {
        color: $text-color;
      }
    }
  }
}

.media {
  margin-bottom: 35px;
  &.image-less {
    display: block;
    .media-body {
      max-width: none;
      padding-left: 25%;

      .media-body__title{
        max-width: 100%;
      }
    }

  }
  &.big {
    margin-top: 10px;
    margin-bottom: 50px;

    .media-image {
      height: 355px;
      width: 672px;
      margin-right: 65px;
      position: relative;

      img {
        @include center;
        //max-height: 100%;
        //max-width: none;
      }

      .block-w-border {
        padding: 0;
        width: 100%;
        overflow: hidden;
      }
    }

    .media-body {
      &__title {
        font-family: $proxima-extra;
        font-size: 36px;
        max-height: 210px;
        max-width: 370px;
        margin-bottom: 45px;
      }
    }
  }
}

.media-body {
  padding-top: 18px;
  max-width: 800px;
}

.media-image {
  align-self: flex-start;
  display: flex;
  margin-right: 40px;
  height: 211px;
  width: 211px;
  position: relative;
  &>img {
    display: inline-block;
    @include center;
  }
}

.media-body {
  &__time {
    font-family: $proxima-semibold;
    color: #b5b5b5;
    font-size: 12px;
    margin-bottom: 12px;
    display: block;

    &--user {
      margin-left: 20px;
      display: inline-block;
    }
  }
  &__title {
    font-family: $proxima-bold;
    font-size: 24px;
    margin-bottom: 12px;
    max-height: 56px;
    overflow: hidden;
  }
  &__text {
    color: #707070;
    line-height: 1.5;
    height: 57px;
    overflow: hidden;
  }
  &__category {
    font-family: $proxima-semibold;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.text-block {
  color: #707070;

  p {
    line-height: 2;
    margin-bottom: 20px;
  }

  h2, h3, h4, h5 {
    font-family: $proxima-light;
  }
  h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  ul {
    padding-left: 10px;
    margin-bottom: 30px;
    &>li {
      margin-bottom: 12px;

      &:before {
        content: '-';
        display: inline-block;
        padding-right: 5px;
      }
    }
  }
}

.detail-ctrl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.related-product {
  &__title {
    font-family: $proxima-bold;
    font-size: 20px;
  }
}

//////////////////////////////////////////////////// category //////////////////////////////////

.category-block {


  &__title {
    font-family: $proxima-light;
    font-size: 24px;
    color: #343434;
    margin-bottom: 35px;
  }
  &__list {
    margin-bottom: 90px;
    &--item {
      width: 21%;
      margin-left: -2px;
      margin-right: 5%;
      margin-bottom: 17px;
      vertical-align: top;

      &:nth-child(4n+4){
        margin-right: 0;
      }
    }
  }
}

.category {
  display: block;
  transition: .3s ease;
  &:hover {

    .category__image {
      border: 14px solid #e2e2e2;
    }

    .category__link {
      .link-arrow {
        color: #006cbf;
        span {
          &:after {
            border-color: #006cbf;
          }
          &:before {
            background-color: #006cbf;
          }
        }
      }
    }
  }
  &__image {
    display: block;
    height: 205px;
    width: 205px;
    position: relative;
    margin-bottom: 20px;
    img {
      @include center;
      max-height: 100%;
      max-width: none;
      width: auto;
    }
  }

  &__link {
    display: block;
    padding-left: 5px;
    .link-arrow {
      font-family: $proxima-bold;
      text-transform: none;
      font-size: 14px;
      line-height: 1;
    }
  }

}

.three-items-block {
  margin-bottom: 40px;
}

.padding-lg-block {
  padding: 30px 25px 5px;

  &.gray-border {
    padding: 17px 24px 15px;
  }
  &.block-yellow-bg {
    padding: 25px 40px 10px;
  }
}



.article-slide {
  margin-bottom: 25px;
  padding: 10px 15px 5px;
  position: relative;
  height: 295px;
  display: block;
  z-index: 1;


  &.article-slide--bg {
    padding: 19px 29px 17px;

    .article-slide__title {
      color: #fff;
      position: relative;
      z-index: 1;
      margin-top: 165px;
    }

    .article-slide__text {
      color: #fff;
      position: relative;
      z-index: 1;
    }

    .article-slide__link {
      color: #fff;
      position: relative;
      z-index: 1;
      
      &.link-arrow {
       span {
         &:after {
           border-color: #fff;
         }
         &:before {
           background-color: #fff;
         }
       }
      }
    }

    .article-slide__play {
      @include center;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .361;
      background-color: #000;
      z-index: 0;
    }
  }

  &.article-slide--video {
    .article-slide__title {
      margin-top: 190px;
    }
    .section-subtitle {
      display: inline-block;
      background-color: rgba(0,0,0, .4);
      padding: 3px 10px;
      border-radius: 3px;
      position: relative;
      bottom: 6px;
      right: 10px;
    }
  }



  &__title {
    font-family:$proxima-bold;
    font-size: 16px;
    color: #343434;
    margin-bottom: 15px;
    display: block;
    height: 38px;
    overflow: hidden;


  }

  &__text {
    color: #707070;
    line-height: 2;
    height: 105px;
    margin-bottom: 35px;
    overflow: hidden;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
  }

}

///////////////////////////////////////////// catalog /////////////////////////

.catalog {
  margin-bottom: 50px;

  &-title {
    @extend .category-block__title;
  }
  &-ctrl {
    padding: 0 0 30px;

    &__label {
      color: #c4c4c4;
      font-family: $proxima-regular;
      font-size: 13px;
      margin-right: 7px;
    }
    &__dropdown {
      display: inline-block;

      &.show .dropdown-toggle:after {
        top: 7px;
      }

      .dropdown-toggle {
        font-family: $proxima-regular;
        font-size: 13px;

        &:before {
          right: -19px;
          top: 2px;
        }

        &:after {
          top: 4px;
        }
      }
      .dropdown-menu {
        font-size: 13px;
        li {
          a {
            padding: 6px 20px;
          }
        }
      }

    }

    &__orient {

      a {
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: top;
        position: relative;
        top: 2px;
        margin-left: 5px;
        &.active {
          span {
            background-color: $text-color;
          }
        }
      }
      span {
        display: inline-block;
        background-color: #c4c4c4;
        height: 5px;
        position: absolute;
      }
      &--vertical {

        span {
          width: 5px;
          &:first-child {
            top: 0;
            left: 0;
          }
          &:nth-child(2){
            top: 0;
            right: 0;
          }
          &:nth-child(3){
            bottom: 0;
            left: 0;
          }
          &:last-child {
            bottom: 0;
            right: 0;
          }
        }
      }
      &--horizontal {
        span {
          width: 100%;

          &:first-child {
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    &__compare {
      font-family: $proxima-regular;
      padding-right: 10px;
      position: relative;
      display: inline-block;
      &:after {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 2px solid #343434;
        border-right: 2px solid #343434;
        border-left: 0;
        transform: rotateZ(45deg);
        position: absolute;
        top: 4px;
        right: 0;
      }
      &:hover {
        span {
          border-color: transparent;
        }
      }
      span {
        display: inline-block;
        color: #006cbf;
        border-bottom: 1px dotted #006cbf;
        line-height: 1;
        transition: .3s ease;

      }
    }
  }
}

.catalog-list {
  position: relative;

  .goods-wrapper {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &-slider {
    &__item {
      color: #fff;
      display: block;
      height: 315px;
      position: relative;
      padding: 50px 50px 25px;

      &--subtitle {
        font-size: 11px;
        font-family:$proxima-regular;
        text-transform: uppercase;
        display: block;
        height: 35px;
        margin-bottom: 20px;
        overflow: hidden;
      }
      &--title {
        display: block;
        font-family: $proxima-extra;
        font-size: 40px;
        line-height: .8;
        max-width: 270px;
        height: 120px;
        margin-bottom: 20px;
      }

      &--link {
        display: inline-block;
        padding: 15px 33px 11px;
        border-radius: 20px;
        background-color: rgba(255,255,255, .3);
        transition: .3s ease;
        span {
          transition: none !important;
        }
        &:hover {
          background-color: #fff;
        }


      }
      &:hover {
        color: #fff;
      }
    }
  }
}

.catalog-list-slider {
  position: relative;
  .slick-dots {
    position: absolute;
    bottom: 35px;
    right: 25px;
    li {
      width: 8px;
      height: 8px;
      margin-right: 15px;
    }
    .slick-active {
      background-color: transparent;
      border-color: #fff;
      button {
        background-color: transparent;
      }
    }
    button {
      background-color: #fff;
      width: 5px;
      height: 5px;
    }
  }
}

.catalog-ctrl__title--mob {
  display: none;
}

.catalog-list {
  &.catalog-list--horizontal {
    .goods-horizontal {
      margin-bottom: 15px;
    }
    .catalog-list-slider__item {
      height: 125px;
      padding: 30px 130px 30px 70px;
    }

    .catalog-list-slider__item--title {
      display: inline-block;
      font-size: 35px;
      line-height: 1;
      max-width: 430px;
      height: 70px;
      margin-bottom: 0;
    }

    .catalog-list-slider__item--link {
      position: absolute;
      top: 45px;
      right: 120px;
    }

    .catalog-list-slider .slick-dots {
      position: absolute;
      bottom: 10px;
      right: 15px;
    }

    .catalog-list-slider {
      margin-bottom: 15px;
    }

    .catalog-list-slider__item--subtitle {
      width: 125px;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      transform: rotateZ(-90deg) translate(-36%, -87%);
    }
  }
}
//////////////////////////////////////////// filter  //////////////////////////////////////////////

.sidebar-range {
  &__val {
    input {
      display: inline-block;
      max-width: 60%;
    }
    &>div {
      display: inline-block;
      width: 50%;
      margin: 0 -2px;
      &>span {
        color: #343434;
        font-family: $proxima-regular;
        margin: 0 3px;
      }
      &>input {
        height: 25px;
        border: 0;
        background: #f0f0f0;
      }
    }
  }
}

.ui-widget-content {
  border: 0;
  background: #191919;
  color: transparent;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
  border-bottom-left-radius: 0;
}

.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
  border-top-left-radius: 0;
}

.ui-widget, .ui-widget .ui-widget {
  font-size: 4px;
  margin-bottom: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0;
  background: #00b33d;
  color: transparent;
  height: 26px;
  width: 7px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  top: -12px;
}
.ui-widget-header {
  border: 0;
  background: #00b33d;
  color: transparent;
  font-weight: normal;
}



.filter__mob-title {
  display: none;
}

.filter-param {
  margin-bottom: 20px;

  &__title {
    color: #343434;
    font-family:$proxima-bold;
    font-size: 20px;
  }
  &__subtitle {
    color: #818181;
    font-family: $proxima-regular;

  }

  &__list {
    padding: 5px 0;
    &--item {
      margin-bottom: 15px;

      a{
        position: relative;
        color: #b5b5b5;
        padding-left: 20px;
        display: inline-block;
        transition: .3s ease;

        &:hover {
          color: $text-color;
          &:after, &:before {
            background-color: $text-color;
          }
        }
        &:before, &:after {
          position: absolute;
          left: 7px;
          top: 1px;
          content: ' ';
          height: 13px;
          width: 1px;
          background-color: #b5b5b5;
          transition: .3s ease;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.filter-item {
  margin-bottom: 20px;
  &__title {
    color: #343434;
    font-family:$proxima-bold;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    transition: .3s ease;

    &.collapsed {
      margin-bottom: 0;

      &:after {
        transform: rotateZ(135deg);
      }
    }

    &:after {
      content: '';
      height: 6px;
      width: 6px;
      border-top: 2px solid #343434;
      border-right: 2px solid #343434;
      border-left: 0;
      transform: rotateZ(-45deg);
      position: absolute;
      top: 8px;
      right: 0;
      transition: .3s ease;
    }
  }
  &__list {

    &--item {
      margin-bottom: 5px;
    }
    &>ul.limited {
      height: 80px;
      overflow: hidden;
      margin-bottom: 20px;
      &>li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__limit-open {
    border-bottom: 1px dotted $text-color;
    line-height: 1;
    margin-left: 25px;
  }
}























