.page-title {
  font-family: $proxima-extra;
  font-size: 36px;
  margin-bottom: 25px;
}

.pagination {
  padding: 15px 0;

  &>div {
    display: inline-block;
    vertical-align: middle;
  }
  &-left {
    &__link {
      &:hover {
        .pagination-left__link--icon {
          transform: rotateZ(450deg);
        }
      }
      &--label {
        font-family: $font-light;
        font-size: 12px;
        color: #707070;
        margin-left: 8px;
      }
      &--icon {
        display: inline-block;
        background-color: #f0f0f0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        position: relative;
        transition: .3s ease-in-out;
        &:before {
          @include center;
        }
      }
    }
  }

  &-right {
    margin-left: auto;
    font-family: $plumb;
    font-size: 13px;
    &__item {
      &.active {
        &>a {
          background-color: #f0f0f0;
        }
      }
      &>a {
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        line-height: 2.6;
        transition: .3s ease;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.breadcrumbs {
  padding: 34px 0;
  font-family: $proxima-regular;
  color: #c4c4c4;
  font-size: 13px;

  &__item {
    a {
      transition: .3s ease;
      &:hover {
        color: $accent;
      }
      &:after {
        content: '-';
        display: inline-block;
        padding: 0 10px;
        pointer-events: none;
        font-size: 20px;
        line-height: 0;
        color: #c4c4c4;
      }
    }
  }
}

.left-block {
  flex: 0 0 18%;
  max-width: 18%;
  &__mob-title {
    a {
      border: 1px solid #b5b5b5;
      padding: 10px 10px 8px;
      border-radius: 3px;
      position: relative;
      font-family: $proxima-regular;
      font-size: 16px;
      color: #1d1d1d;
      display: none;

      &:after {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 1px solid #343434;
        border-right: 1px solid #343434;
        transform: rotateZ(135deg);
        position: absolute;
        top: 16px;
        right: 13px;
        transition: .3s ease;
      }
    }

    &.open {
      a:after {
        transform: rotateZ(-45deg);
      }
    }
  }
}

.right-block {
  flex: 0 0 82%;
  max-width: 82%;
  padding-left: 35px;
  padding-top: 10px;
  &.offset-left {
    margin-left: 18%;
  }
}

.left-sidebar {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 13px;

    &>a {
      color: #818181;
      font-family: $proxima-semibold;
      text-transform: uppercase;
      transition: .3s ease;
      &:hover {
        color: $text-color;
      }
    }

    &.active {
      &>a {
        font-family: $proxima-bold;
        color: #343434;
      }
    }
  }
}

.left-sidebar-second {
  padding: 17px 0 6px;
  display: none;

  &__item {
    margin-bottom: 14px;

    &.active {
      &>a {
        color: $text-color;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &>a {
      color: #b5b5b5;
      transition: .3s ease;
      &:hover {
        color: $text-color;
      }
    }
  }
}

.media {
  margin-bottom: 35px;
  &.image-less {
    display: block;
    .media-body {
      max-width: none;
      padding-left: 25%;

      .media-body__title{
        max-width: 100%;
      }
    }

  }
  &.big {
    margin-top: 10px;
    margin-bottom: 50px;

    .media-image {
      height: 355px;
      width: 672px;
      margin-right: 65px;
      position: relative;

      img {
        @include center;
        //max-height: 100%;
        //max-width: none;
      }

      .block-w-border {
        padding: 0;
        width: 100%;
        overflow: hidden;
      }
    }

    .media-body {
      &__title {
        font-family: $proxima-extra;
        font-size: 36px;
        max-height: 210px;
        max-width: 370px;
        margin-bottom: 45px;
      }
    }
  }
}

.media-body {
  padding-top: 18px;
  max-width: 800px;
}

.media-image {
  align-self: flex-start;
  display: flex;
  margin-right: 40px;
  height: 211px;
  width: 211px;
  position: relative;
  &>img {
    display: inline-block;
    @include center;
  }
}

.media-body {
  &__time {
    font-family: $proxima-semibold;
    color: #b5b5b5;
    font-size: 12px;
    margin-bottom: 12px;
    display: block;

    &--user {
      margin-left: 20px;
      display: inline-block;
    }
  }
  &__title {
    font-family: $proxima-bold;
    font-size: 24px;
    margin-bottom: 12px;
    max-height: 56px;
    overflow: hidden;
  }
  &__text {
    color: #707070;
    line-height: 1.5;
    height: 57px;
    overflow: hidden;
  }
  &__category {
    font-family: $proxima-semibold;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.text-block {
  color: #707070;

  p {
    line-height: 2;
    margin-bottom: 20px;
  }

  h2, h3, h4, h5 {
    font-family: $proxima-light;
  }
  h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  ul {
    padding-left: 10px;
    margin-bottom: 30px;
    &>li {
      margin-bottom: 12px;

      &:before {
        content: '-';
        display: inline-block;
        padding-right: 5px;
      }
    }
  }
}

.detail-ctrl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.related-product {
  &__title {
    font-family: $proxima-bold;
    font-size: 20px;
  }
}

//////////////////////////////////////////////////// category //////////////////////////////////

.category-block {


  &__title {
    font-family: $proxima-light;
    font-size: 24px;
    color: #343434;
    margin-bottom: 35px;
  }
  &__list {
    margin-bottom: 90px;
    &--item {
      width: 21%;
      margin-left: -2px;
      margin-right: 5%;
      margin-bottom: 17px;
      vertical-align: top;

      &:nth-child(4n+4){
        margin-right: 0;
      }
    }
  }
}

.category {
  display: block;
  transition: .3s ease;
  &:hover {

    .category__image {
      border: 14px solid #e2e2e2;
    }

    .category__link {
      .link-arrow {
        color: #006cbf;
        span {
          &:after {
            border-color: #006cbf;
          }
          &:before {
            background-color: #006cbf;
          }
        }
      }
    }
  }
  &__image {
    display: block;
    height: 205px;
    width: 205px;
    position: relative;
    margin-bottom: 20px;
    img {
      @include center;
      max-height: 100%;
      max-width: none;
      width: auto;
    }
  }

  &__link {
    display: block;
    padding-left: 5px;
    .link-arrow {
      font-family: $proxima-bold;
      text-transform: none;
      font-size: 14px;
      line-height: 1;
    }
  }

}

.three-items-block {
  margin-bottom: 40px;
}

.padding-lg-block {
  padding: 30px 25px 5px;

  &.gray-border {
    padding: 17px 24px 15px;
  }
  &.block-yellow-bg {
    padding: 25px 40px 10px;
  }
}



.article-slide {
  margin-bottom: 25px;
  padding: 10px 15px 5px;
  position: relative;
  height: 295px;
  display: block;
  z-index: 1;


  &.article-slide--bg {
    padding: 19px 29px 17px;

    .article-slide__title {
      color: #fff;
      position: relative;
      z-index: 1;
      margin-top: 165px;
    }

    .article-slide__text {
      color: #fff;
      position: relative;
      z-index: 1;
    }

    .article-slide__link {
      color: #fff;
      position: relative;
      z-index: 1;
      
      &.link-arrow {
       span {
         &:after {
           border-color: #fff;
         }
         &:before {
           background-color: #fff;
         }
       }
      }
    }

    .article-slide__play {
      @include center;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .361;
      background-color: #000;
      z-index: 0;
    }
  }

  &.article-slide--video {
    .article-slide__title {
      margin-top: 190px;
    }
    .section-subtitle {
      display: inline-block;
      background-color: rgba(0,0,0, .4);
      padding: 3px 10px;
      border-radius: 3px;
      position: relative;
      bottom: 6px;
      right: 10px;
    }
  }



  &__title {
    font-family:$proxima-bold;
    font-size: 16px;
    color: #343434;
    margin-bottom: 15px;
    display: block;
    height: 38px;
    overflow: hidden;


  }

  &__text {
    color: #707070;
    line-height: 2;
    height: 105px;
    margin-bottom: 35px;
    overflow: hidden;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
  }

}

///////////////////////////////////////////// catalog /////////////////////////

.catalog {
  margin-bottom: 50px;

  &-title {
    @extend .category-block__title;

    &.catalog-title__mob {
      display: none;
      font-weight: bold;
    }
  }



  &-ctrl {
    padding: 0 0 30px;

    &__label {
      color: #c4c4c4;
      font-family: $proxima-regular;
      font-size: 13px;
      margin-right: 7px;
    }
    &__dropdown {
      display: inline-block;

      &.show .dropdown-toggle:after {
        top: 7px;
      }

      .dropdown-toggle {
        font-family: $proxima-regular;
        font-size: 13px;

        &:before {
          right: -19px;
          top: 2px;
        }

        &:after {
          top: 4px;
        }
      }
      .dropdown-menu {
        font-size: 13px;
        li {
          a {
            padding: 6px 20px;
          }
        }
      }

    }

    &__orient {

      a {
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: top;
        position: relative;
        top: 2px;
        margin-left: 5px;
        &.active {
          span {
            background-color: $text-color;
          }
        }
      }
      span {
        display: inline-block;
        background-color: #c4c4c4;
        height: 5px;
        position: absolute;
      }
      &--vertical {

        span {
          width: 5px;
          &:first-child {
            top: 0;
            left: 0;
          }
          &:nth-child(2){
            top: 0;
            right: 0;
          }
          &:nth-child(3){
            bottom: 0;
            left: 0;
          }
          &:last-child {
            bottom: 0;
            right: 0;
          }
        }
      }
      &--horizontal {
        span {
          width: 100%;

          &:first-child {
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    &__compare {
      font-family: $proxima-regular;
      padding-right: 10px;
      position: relative;
      display: inline-block;
      &:after {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 2px solid #343434;
        border-right: 2px solid #343434;
        border-left: 0;
        transform: rotateZ(45deg);
        position: absolute;
        top: 4px;
        right: 0;
      }
      &:hover {
        span {
          border-color: transparent;
        }
      }
      span {
        display: inline-block;
        color: #006cbf;
        border-bottom: 1px dotted #006cbf;
        line-height: 1;
        transition: .3s ease;

      }
    }
  }
}

.catalog-list {
  position: relative;

  .goods-wrapper {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &-slider {
    &__item {
      color: #fff;
      display: block;
      height: 315px;
      position: relative;
      padding: 50px 50px 25px;

      &--subtitle {
        font-size: 11px;
        font-family:$proxima-regular;
        text-transform: uppercase;
        display: block;
        height: 35px;
        margin-bottom: 20px;
        overflow: hidden;
      }
      &--title {
        display: block;
        font-family: $proxima-extra;
        font-size: 40px;
        line-height: .8;
        max-width: 270px;
        height: 120px;
        margin-bottom: 20px;
      }

      &--link {
        display: inline-block;
        padding: 15px 33px 11px;
        border-radius: 20px;
        background-color: rgba(255,255,255, .3);
        transition: .3s ease;
        span {
          transition: none !important;
        }
        &:hover {
          background-color: #fff;
        }


      }
      &:hover {
        color: #fff;
      }
    }
  }
}

.catalog-list-slider {
  position: relative;
  .slick-dots {
    position: absolute;
    bottom: 35px;
    right: 25px;
    li {
      width: 8px;
      height: 8px;
      margin-right: 15px;
    }
    .slick-active {
      background-color: transparent;
      border-color: #fff;
      button {
        background-color: transparent;
      }
    }
    button {
      background-color: #fff;
      width: 5px;
      height: 5px;
    }
  }
}

.catalog-ctrl__title--mob {
  display: none;
}

.catalog-list {
  &.catalog-list--horizontal {
    .goods-horizontal {
      margin-bottom: 15px;
    }
    .catalog-list-slider__item {
      height: 125px;
      padding: 30px 130px 30px 70px;
    }

    .catalog-list-slider__item--title {
      display: inline-block;
      font-size: 35px;
      line-height: 1;
      max-width: 430px;
      height: 70px;
      margin-bottom: 0;
    }

    .catalog-list-slider__item--link {
      position: absolute;
      top: 45px;
      right: 120px;
    }

    .catalog-list-slider .slick-dots {
      position: absolute;
      bottom: 10px;
      right: 15px;
    }

    .catalog-list-slider {
      margin-bottom: 15px;
    }

    .catalog-list-slider__item--subtitle {
      width: 125px;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      transform: rotateZ(-90deg) translate(-36%, -87%);
    }
  }
}
//////////////////////////////////////////// filter  //////////////////////////////////////////////

.sidebar-range {
  &__val {
    input {
      display: inline-block;
      max-width: 60%;
    }
    &>div {
      display: inline-block;
      width: 50%;
      margin: 0 -2px;
      &>span {
        color: #343434;
        font-family: $proxima-regular;
        margin: 0 3px;
      }
      &>input {
        height: 25px;
        border: 0;
        background: #f0f0f0;
      }
    }
  }
}

.ui-widget-content {
  border: 0;
  background: #191919;
  color: transparent;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
  border-bottom-left-radius: 0;
}

.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
  border-top-left-radius: 0;
}

.ui-widget, .ui-widget .ui-widget {
  font-size: 4px;
  margin-bottom: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0;
  background: #00b33d;
  color: transparent;
  height: 26px;
  width: 7px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  top: -12px;
}
.ui-widget-header {
  border: 0;
  background: #00b33d;
  color: transparent;
  font-weight: normal;
}



.filter__mob-title {
  display: none;
}

.filter-param {
  margin-bottom: 20px;

  &__title {
    color: #343434;
    font-family:$proxima-bold;
    font-size: 20px;
  }
  &__subtitle {
    color: #818181;
    font-family: $proxima-regular;

  }

  &__list {
    padding: 5px 0;
    &--item {
      margin-bottom: 15px;

      a{
        position: relative;
        color: #b5b5b5;
        padding-left: 20px;
        display: inline-block;
        transition: .3s ease;

        &:hover {
          color: $text-color;
          &:after, &:before {
            background-color: $text-color;
          }
        }
        &:before, &:after {
          position: absolute;
          left: 7px;
          top: 1px;
          content: ' ';
          height: 13px;
          width: 1px;
          background-color: #b5b5b5;
          transition: .3s ease;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.filter-item {
  margin-bottom: 20px;
  &__title {
    color: #343434;
    font-family:$proxima-bold;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    transition: .3s ease;

    &.collapsed {
      margin-bottom: 0;

      &:after {
        transform: rotateZ(135deg);
      }
    }

    &:after {
      content: '';
      height: 6px;
      width: 6px;
      border-top: 2px solid #343434;
      border-right: 2px solid #343434;
      border-left: 0;
      transform: rotateZ(-45deg);
      position: absolute;
      top: 8px;
      right: 0;
      transition: .3s ease;
    }
  }
  &__list {

    &--item {
      margin-bottom: 5px;
    }
    &>ul.limited {
      height: 80px;
      overflow: hidden;
      margin-bottom: 20px;
      &>li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__limit-open {
    border-bottom: 1px dotted $text-color;
    line-height: 1;
    margin-left: 25px;
  }
}



/////////////////////////////////// compare /////////////////////////////////////////////
.compare {
  display: flex;
}

.compare-left-block {
  flex: 0 0 20%;
  max-width: 20%;
  padding-right: 20px;

  &__ctrl {
    height: 365px;
    &--add {
      margin-bottom: 20px;
      display: block;
      &:hover {
        .pagination-left__link--icon{
          transform: rotateZ(450deg);
        }

      }
    }
    &--subtitle {
      font-family: $proxima-bold;
      font-size: 16px;
      text-align: center;
      max-width: 120px;
      margin: 0 auto 40px;
    }
    &--arrows {
      text-align: center;

      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid #0d0d0d;
        border-radius: 50%;
        transition: .3s ease;
        position: relative;
        &:hover {
          background-color: #0d0d0d;
          &:after {
            background-color: #fff;
          }
          &:before {
            border-color: #fff;
          }
        }
        &.btn-next {
          &:before {
            transform: rotateZ(45deg);
            top: 14px;
            left: 13px;
          }
        }
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          border-top: 2px solid #0d0d0d;
          border-right: 2px solid #0d0d0d;
          transform: rotateZ(-135deg);
          top: 14px;
          left: 12px;
          position: absolute;
          transition: .3s ease;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 13px;
          height: 2px;
          background-color: #0d0d0d;
          top: 18px;
          left: 11px;
          transition: .3s ease;
        }

      }
    }
  }

  &__property {
    font-family: $proxima-bold;
    font-size: 14px;
    display: table;
    &--item {
      vertical-align: top;
      display: table-row;
      height: 43px;
      line-height: 1.8;
      padding: 5px 0;
    }
  }




}

.compare-right-block {
  flex: 0 0 80%;
  max-width: 80%;
}

.compare-slider {

  .goods-property__ctrl {
    display: block;
    text-align: center;
  }




  &__top--item {
    width:245px;
    display: inline-block;
    vertical-align: top;
    padding-right: 35px;
    margin-left: 0;
    margin-right: -4px;


    .goods-link {
      font-size: 18px;
    }
  }

  &__bottom {


    .goods-property__list {
      height: auto;
      color: #707070;
      text-align: left;



      .goods-property__ctrl {
        border-top: 1px solid #c4c4c4;
      }
      &--item {
        font-size: 13px;
        line-height: 1.4;
        width: 230px;
        padding-right: 20px;
        height: 43px;
        vertical-align: top;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

  }
}

.compare-ctrl {
  padding-top: 10px;
  padding-left: 240px;

  &__mob {
    &.open {
      a {
        &:after {
          transform: rotateZ(-45deg);
        }
      }
    }
    a {
      border: 1px solid #b5b5b5;
      padding: 10px 10px 8px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      font-family: "Proxima-Nova-Regular", sans-serif;
      font-size: 16px;
      color: #1d1d1d;
      display: none;

      &:after {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 1px solid #343434;
        border-right: 1px solid #343434;
        -webkit-transform: rotateZ(135deg);
        -ms-transform: rotate(135deg);
        transform: rotateZ(135deg);
        position: absolute;
        top: 16px;
        right: 13px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
      }
    }
  }

  &__item {
    font-family:$proxima-light;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
    vertical-align: middle;
    a {
      display: block;
      padding: 10px 15px 5px;
      background-color: #f0f0f0;
      border-radius: 3px;
    }

    .close-btn {
      border-radius: 50%;
      background-color: #fff;
      margin-bottom: 5px;
      margin-left: 3px;
    }
    &.title {
      font-size: 24px;
      a {
        padding: 0;
        background: none;
      }
      .close-btn {
        background-color: #f0f0f0;
      }
    }
  }
}

.goods-compare {

  .goods-image {
    height: 210px;
  }

  .goods-link {
    font-size: 18px;
    height: 18px;
    margin-bottom: 8px;
  }

  .goods-price {
    margin-bottom: 35px;
  }

}

.compare-close-button {
  display: block;
  height: 55px;
  text-align: center;
  .close-btn {
    margin-top: 8px;
  }
}


//////////////////////////////////////// catalog-detail //////////////////////////////

.product-name {
  color: #343434;
  font-family: $proxima-bold;
  font-size: 24px;
  max-width: 50%;
  letter-spacing: .2px;
  line-height: 1.5;
  margin-bottom: 13px;
}

.product-top-block {
  margin-bottom: 30px;
}

.product-code {
  font-family: $proxima-regular;
  font-size: 13px;
  color: #c4c4c4;
  position: relative;
  bottom: 1px;
  left: 10px;
}

.product-slider {
  display: flex;
  margin-top: -100px;

  &>div {
    display: inline-block;
    vertical-align: top;
    margin-left: -2px;
    margin-right: -2px;
  }

  &__left {
    flex: 0 0 80%;
    max-width: 80%;
    overflow: hidden;

    &--item {
      position: relative;
      width: 490px;
      height: 490px;
      overflow: hidden;
      img {
        @include center;
        max-height: 450px;
        max-width: 450px;
      }
    }
  }

  &__right {
    flex: 0 0 20%;
    max-width: 20%;
    margin-top: 60px;
    padding-top: 60px;

    .slick-current {
      .product-slider__right--item {
        border: 2px solid #0d0d0d;
      }
    }

    &.slick-vertical .slick-arrow.slick-prev {
      top: 23px;
      border-color: transparent;
    }

    &.slick-vertical .slick-arrow.slick-next {
      border-color: transparent;
      bottom: 40px;
    }

    &.slick-vertical .slick-arrow:hover {
      background-color: transparent;
      border-color: #0d0d0d;
      &:after {
        background-color: #0d0d0d;
      }
      &:before {
        border-color: #0d0d0d;
      }
    }

    &--item {
      position: relative;
      width: 90px;
      height: 90px;
      margin: auto;
      overflow: hidden;
      img {
        @include center;

      }
    }
  }
}

.product-price {
  margin-bottom: 15px;
  &.goods-horizontal {
    display: block;

    .goods-price {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 3px;
    }

    .goods-price-current {
      font-size: 24px;

    }
    .goods-property__ctrl {
      margin-left: 40px;
      display: inline-block;
      vertical-align: middle;
    }
  }

}

.product-sale-block {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 17px 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 570px;
}

.product-sale-label {
  display: inline-block;
  vertical-align: middle;
  .sale-label {
    &>span {
      font-family: $font-bold;
      font-style: italic;
      color: #fff;
      font-size: 24px;
      display: block;
      text-align: center;
      max-width: 100px;
      margin-top: 8px;
      overflow: hidden;

    }
  }
}

.sale-label {
  @include sprite($sale-label);
  display: inline-block;
}

.product-sale-counter {
  display: inline-block;
  vertical-align: middle;

  .flip-clock-wrapper ul li a div div.inn {
    font-size: 20px;
  }

  .flip-clock-divider .flip-clock-label {
    display: none;
  }

  .flip-clock-wrapper ul {
    width: 22px;
    height: 34px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
  }
  .flip-clock-wrapper ul li {
    line-height: 36px;
  }

  .flip-clock-wrapper {
    margin: 0;
  }

  .flip-clock-divider {
    width: 9px;
    height: 40px;
  }

  .flip-clock-dot {
    display: none;
  }

  .flip-clock-wrapper .flip {
    box-shadow: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &__label {
    font-family: $proxima-regular;
    font-size: 12px;
    color: #01b2e8;
    display: inline-block;
    vertical-align: middle;
    max-width: 65px;
    margin-left: 18px;
  }
}

.product-prop-block {
  padding-top: 10px;
  padding-bottom: 10px;

  table {
    tbody {
      tr {
        td {
          padding: 5px 30px 4px 0;
          vertical-align: top;
          font-size: 13px;
          max-width: 240px;

          &:first-child {
            font-family: $font-light;
            color: #707070;
          }
          &:last-child {
            font-family: $proxima-semibold;
            color: #343434;
          }
        }
      }
    }
  }
}

.offer-slider {

  &__item {
    max-width: 155px;
    margin: 0 auto 15px;
  }

  .slick-dots {
    position: absolute;
    top: -40px;
    right: 0;
  }
}

.product-sliders-review {
  margin-bottom: 40px;
}

.product-reviews {
  padding: 30px;
  max-width: 325px;
  margin-left: auto;

  .small-goods-no-hover {
    margin-left: auto;
    margin-right: auto;
  }
}

.review-sm-block {
  margin-bottom: 25px;

  &__top {
    display: flex;
    justify-content: space-between;

    .rateit {
      vertical-align: middle;
    }

    &--user {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      padding-top: 3px;

      span {
        font-family: $font-bold;
        margin-right: 10px;
      }
      time {
        font-family: $font-light;
      }
    }
  }

  &__bottom {
    line-height: 1.8;
  }
}

.product-tab {
  margin-bottom: 40px;
}

.reviews-tab {
  padding-right: 20px;
}

.property-tab {
  padding-left: 20px;

  .tab-spoiler-container {
    line-height: 1.9;
  }

  .product-tab-ctrl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin-bottom: 10px;
  }


}



.product-tab-ctrl {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #f0f0f0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 30px;
    cursor: pointer;

    .icon-pen {
      padding-left: 4px;
      display: inline-block;
      position: relative;
      top: 2px;
    }

    &--title {
      font-family: $proxima-light;
      font-size: 20px;
      line-height: 1.6;
    }
    &:last-child {
      margin-right: 0;
    }

    &.active {
      .product-tab-ctrl__item--title {
        font-family: $proxima-bold;
      }

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -12px;
        height: 5px;
        background-color: #f0f0f0;
      }
    }

  }
}

.product-spoiler-trigger {
    color: #01b2e8;
    display: inline-block;
    border-bottom: 1px dotted #01b2e8;
    transition: .3s ease;
    line-height: 1;
    &:hover {
      border-color: transparent;
      color: #0191e8;
    }

    &:focus, &:active {
      color: #01b2e8;
    }
}

.tab-spoiler-container {
  height: 335px;
  overflow: hidden;
  margin-bottom: 15px;
}

.product-useful-block {
  padding-top: 20px;
}

.product-tab-content {
  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.product-sticky-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  width: 100%;
  z-index: 6;
  transition: .3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  &.sticky {
    top: 71px;
  }

  .goods-horizontal {
    max-width: 1000px;
    margin: auto;
  }

  .goods-horizontal .goods-image {
    height: 65px;
    width: 65px;
  }

  .product-sale-counter .flip-clock-wrapper ul {
    width: 18px;
    height: 27px;
  }

  .product-sale-counter .flip-clock-wrapper ul li a div div.inn {
    font-size: 16px;
  }

  .product-sale-counter .flip-clock-wrapper ul li {
    line-height: 30px;
  }

  .goods-link {
    height: 14px;
    font-size: 14px;
  }

  .goods-horizontal__compare a {
    background-color: #fff;
  }

}

.product-useful {
  margin-bottom: 30px;
}

.reviews-form {
  max-width: 350px;

  &__header {
    margin-bottom: 15px;
    .title-light {
      font-size: 16px;
    }
  }

  .rateit {
    float: right;
    &.rateit-font .rateit-range {
      font-size: 20px;
      line-height: 1;
    }
  }
  fieldset {margin-bottom: 10px}

  textarea {
    @extend .gray-input;
    height: 100px;
    resize: none;
  }
}

.product-tab-document {
  &__item {
    margin-bottom: 15px;
    a {
      transition: .3s ease;
      &:hover {
        color: #01b2e8;
        span {
          text-decoration: underline;
        }
      }
    }
  }
}


//////////////////////////////////////// cart /////////////////////////



.cart-table {
  position: relative;
  margin-top: -50px;
  .goods-price {
    position: relative;
  }
  .goods-label {
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
  }
  width: 100%;
  &__header {
    td {
      font-family:$proxima-regular;
      color: #c4c4c4;
      font-size: 13px;
      padding-bottom: 35px;

      &:first-child {
        width: 85px;
      }
      &:nth-child(2){
        width: 160px;
      }
      &:last-child {
        width: 100px;
      }
    }
  }
  &__item {

    .goods-subtitle {
      max-width: 200px;
      height: auto;
    }

    .goods-link {
      height: auto;
      max-width: 200px;
    }
    td {
      padding-bottom: 5px;

      &:first-child {
        font-family:$proxima-regular;
        color: #c4c4c4;
        font-size: 13px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.cart-total {
  margin: 50px 70px 30px auto;

  .goods-price-current {
    font-size: 24px;
  }
  tr {
    &.cart-total__sale, &.cart-total__current {

      td:first-child {
        text-align: right;
        font-family:$proxima-regular;
        color: #c4c4c4;
        font-size: 13px;
        padding-top: 6px;
      }
    }
    td {
      vertical-align: middle;
      padding: 7px 10px;

    }
    &.cart-total__sale {
      .goods-price-current {
        font-size: 18px;
      }
    }
    &.cart-total__current {
      .goods-price-current {
        font-size: 24px;
      }
    }
  }
}

.five-item-slider-block {
  margin-bottom: 40px;
  .title-sm-light {
    margin-bottom: 30px;
  }
}

.cart-table-mob-label {
  display: none;
}

.modal-dialog.modal-cart {
  max-width: 1000px;

  .modal-content {
    padding: 50px 40px 20px;
  }

  .modal-body {
    padding: 0;
  }

  .modal-header {
    padding-left: 40px;
  }

  .cart-table {
    margin-top: 0;

    &__item {
      td {
        &:first-child {
          width: 40px;
        }
      }
    }
  }

  .cart-total {
    margin: 10px 0 20px auto;
  }
}

.modal-dialog.modal-reg {
  max-width: 700px;
  display: block;

  .product-tab-ctrl {
    margin-bottom: 50px;
  }

  .modal-body {
    padding: 0;
    margin: 35px auto;
    max-width: 450px;
  }
  .modal-content {
    padding: 20px 25px;
    display: block;
  }

  .product-tab-ctrl__item {
    width: 50%;
    margin: 0 -1px;
    &:last-child {
      text-align: right;
    }
  }

  .modal-header {
    min-height: 1px;
  }

}

.modal-form {
  max-width: 235px;
  margin: 0 auto;
  text-align: center;

  .btn {
    width: 165px;
    text-align: center;
  }

  &__item {
    margin-bottom: 10px;
    min-height: 36px;
    position: relative;
    .eye {
      position: absolute;
      top: 11px;
      right: -30px;
    }
  }
}

///////////////////////////////// registration page /////////////////////////////

.registration-block {
  margin-top: 35px;
  &.input-block {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.input-block {

  &__item {
    position: relative;
    margin-bottom: 15px;
    mark {
      position: absolute;
      top: 12px;
      right: -20px;
    }
    .btn {
      width: 165px;
      text-align: center;
      padding: 12px 20px;
    }
    .dropdown {
      color: #c4c4c4;
      background-color: #f0f0f0;
      margin-right: 0;
      padding: 9px 10px;
      a {
        display: block;
        height: auto;
      }
      .dropdown-toggle:before {
        top: 10px;
        right: 10px;
      }
      .dropdown-toggle:after {
        top: 13px;
        right: 13px;
      }
    }
    .dropdown.show .dropdown-toggle:after {
      top: 14px;
    }
    .dropdown-menu {
      right: 0;
      top: 39px;
      width: 100%;
      text-align: left;
      font-size: 13px;
    }
  }
}

.label-error {
  color: #ff7038;
  font-size: 11px;
  position: absolute;
  left: 0;
  bottom: -11px;
}

.input-error {
  border: 1px solid #ff7038;
  color: #ff7038;
}

///////////////////////////////////////////////// lk //////////////////////////////

.lk-navigate {
  font-family: $proxima-bold;
  font-size: 14px;
  &__item {
    margin-bottom: 25px;
    & > a{
      text-transform: none !important;
    }

    &.active {
      color: #c9c9c9;
    }
  }
}

.lk-order-block {
  padding-left: 20px;
  padding-top: 10px;

  &__item {
    margin-bottom: 35px;
  }
}

.lk-order {
  display: table;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-bottom: 20px;

  &.open {
    &:before {
      transform: rotateZ(-45deg);
    }
  }

  &:before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-top: 2px solid #343434;
    border-right: 2px solid #343434;
    transform: rotateZ(135deg);
    position: absolute;
    top: 3px;
    left: -10px;
    transition: .3s ease;
  }
  &>li {
    display: table-cell;

    &:last-child {
      padding-right: 0;
    }
  }

  &__prop {
    width: 280px;
    padding-right: 30px;

    &--num {
      font-family: $proxima-regular;
      color: #0159bd;
      font-weight: bold;
      &:after {
        content: '';
        height: 9px;
        width: 1px;
        background-color: #cacaca;
        display: inline-block;
        margin: 0 8px 0 12px;
      }
    }
    &--date {
      color: #cacaca;
      font-family: $proxima-regular;
      white-space: nowrap;
    }
  }

  &__amount{
    width: 315px;
    padding-right: 30px;

    b {
      font-family: $font-bold;
      color: #707070;
    }
  }
  &__detail {
    width: 80px;
    text-align: right;
    a {
      color: #cacaca;
      border-color: #cacaca;
    }

  }
}

.lk-order-list {
  display: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 40px;

  &__item {
    margin-bottom: 10px;
    margin-top: 10px;
    .cart-total {
      margin-right: 0;
    }
  }
}

.lk-order-list__item--title {
  font-size: 18px;
  font-family: $proxima-bold;
  color: #6a6a6a;
  background-color: #f0f0f0;
  display: inline-block;
  padding: 4px 10px 2px;
}
.lk-order-list__item--table {
  margin-bottom: 30px;
  tr {
    td {
      padding: 5px;
      &:first-child {
        width: 150px;
        font-family: $font-bold;
        color: $text-gray;
      }
    }
  }
}


.lk-order-list__item--subtitle {
  font-size: 16px;
  font-family: $proxima-bold;
}

.goods-lk-order-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;


    .goods-image {
      height: 55px;
      width: 55px;
    }

    .goods-link {
      margin-bottom: 0;
      height: auto;
      margin-left: 30px;
      width: 145px;
    }
    .goods-subtitle {
      height: auto;
      margin-left: 30px;
      width: 170px;
    }
}

.lk-info {
  max-width: 500px;
  &.input-block {
    .btn {
      width: auto;
    }
  }
}

.order-detail-cart {
  padding-left: 25px;

  .cart-table {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .goods-horizontal .goods-image {
    height: 60px;
    width: 60px;
    margin-bottom: 0;
    margin-right: 5px;
  }

  .goods-link {
    font-size: 12px;
    margin-bottom: 0;

  }

  .goods-subtitle {
    font-size: 11px;
    margin-bottom: 0;
  }

  .goods-property {
    margin-right: 10px;
  }

  .goods-amount {
    width: 70px;
    margin-right: 5px;
  }

  .goods-amount-input {
    max-width: 25px;
  }

  &__top {
    margin-bottom: 10px;

    .title-light {
      display: inline-block;
      font-size: 20px;
    }
    .order-detail-cart-reset {
      float: right;
      margin-top: 5px;
    }

  }

  .padding-lg-block.gray-border {
    padding: 17px 15px 15px;
  }


  .cart-table__item td {
    padding-bottom: 20px;
  }



}

.order-detail-forms {
  max-width: 425px;

  .input-block__item {
    max-width: 360px;
  }

  .product-tab-ctrl {
    display: flex;
    justify-content: space-between;
  }
}


.input-block__item {
  textarea.gray-input {
    height: 120px;
    resize: none;
  }
}

.order-detail-cart-reset {
  font-family: $font-light;
  color: #01b2e8;
  border-bottom: 1px dotted #01b2e8;
  transition: .3s ease;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;

  &:hover, &:active, &:focus {
    color: #01b2e8;
    border-color: transparent;
  }
  &:after {
    content: "+";
    font-size: 18px;
    position: absolute;
    top: -3px;
    left: -18px;
    color: #ff1d1d;
    transform: rotateZ(45deg);
  }

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: -20px;
    background-color: #f0f0f0;
    border-radius: 50%;
  }
}

.order-detail-subtitle {
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 1;
  }


  .title-light {
    display: inline-block;
    background-color: #fff;
    padding-right: 15px;
    z-index: 2;
    position: relative;


  }
  .text-gray {
    color: #c0c0c0;
  }
}


.order-detail-forms {
  .lp-block {
    padding-left: 25px;
    .input-block__item {
      max-width: 335px;
    }
  }
  .input-block {
    textarea {
      border: 1px solid #e9e9e9;
      resize: none;
      height: 90px;
      width: 100%;
    }
    .btn__sm--gray {
      padding: 13px 16px 4px;

      .custom-checkbox-label:before {
        border: 1px solid rgba(0, 0, 0, 0.24);
      }
    }
  }
}

.input-block__border-bottom {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.cart-promo {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 30px 15px 15px;

  .main-contacts__choice {
    width: 300px;
    margin: auto;
  }
}

.order-detail-cart {

  .cart-total {
    margin: 20px 0 10px auto;
  }

  .cart-total tr.cart-total__sale .goods-price-current {
    font-size: 14px;
  }

  .cart-total tr.cart-total__current .goods-price-current {
    font-size: 16px;
  }

}

.goods-delivery-link {
  font-family: $proxima-regular;
  &:after {
    content: "?";
    color: red;
    width: 18px;
    height: 18px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    text-align: center;
    line-height: 1.5;
  }
}

/////////////////////////////////// 404 ///////////////////////////////

.ff-left {
  .block-w-border {
    padding: 0;
    width: 410px;
    height: 340px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
  }
  .bold-text {
    font-size: 240px;
    font-family: $proxima-extra;
    @include center;
  }
}

.ff-right {
  justify-content: center;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 45px;
    font-family: $proxima-bold;
    line-height: 1;
  }
  &__subtitle {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
  }
  .btn {
    padding: 12px 0 ;
    width: 220px;
    text-align: center;
  }
}

///////////////////////////////////////// contacts page /////////////////////////

.contacts-left {
  margin-bottom:  30px;

  .block-w-border {
    padding: 20px;
    text-align: left;
  }
  .main-contacts-block {
    height: auto;
    margin-bottom: 0;
    overflow: visible;
  }
}

.contacts-right {
  margin-bottom:  30px;
  max-width: 460px;
  margin-left: auto;
}