//////// font var //////////////

$font: "Open-Sans", sans-serif;
$font-bold: "Open-Sans-Bold", sans-serif;
$font-light: "Open-Sans-Light", sans-serif;
$proxima-regular: "Proxima-Nova-Regular", sans-serif;
$proxima-bold: "Proxima-Nova-Bold", sans-serif;
$proxima-semibold: "Proxima-Nova-Semibold", sans-serif;
$proxima-light: "Proxima-Nova-Light", sans-serif;
$proxima-extra: "Proxima-Nova-Extra", sans-serif;

$font-size: 13px;

////////// color var //////////////////////

$accent: #064579;
$black-background: #343434;


$text-color: #343434;
$text-gray: #707070;




////////// media query //////////////////////
$desktop: "max-width:1279px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";