body:before {
  content: '';
  display: block;
  width: 100%;
  height: 103px;
  background-color: #f0f0f0;
}

.header {
  background-color: #f0f0f0;
  padding: 20px 0;
  font-size: 13px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: .3s ease;

  &.menu-scroll {
    padding: 4px 0;
  }

}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-burder-menu {
  display: inline-block;
}

.menu-trigger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  &:hover {
    span {
      background-color: #d5d5d5;
    }
  }
  &.open {
    span {
      &:first-child {
        transform: rotateZ(135deg) translate(3px, -3px);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:last-child {
        transform: rotateZ(45deg) translate(-5px, -5px);
      }
    }
  }
  span {
    display: block;
    height: 3px;
    width: 20px;
    background-color: #0d0d0d;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    transition: .3s ease;
    &:first-child {
      top: 16px;
    }
    &:nth-child(2){
      top: 22px;
    }
    &:last-child {
      top: 28px;
    }
  }
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: -145px;
  width: 189px;
  height: 63px;
}

.header-catalog-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: -90px;
  a {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(6, 69, 121);
    padding: 11px 22px;
    color: #fff;
    transition: .3s ease;
    &:hover {
      background-color: #d5d5d5;
      color: #707070;
    }
  }
}

.header-tel-block {
  display: inline-block;
  vertical-align: middle;

  .dropdown {
    margin-right: 20px;
  }

  .dropdown.show .dropdown-toggle:after {
    transform: rotateZ(-45deg);
    border-color: #fff;
    top: 8px;
  }
  .dropdown.show .dropdown-toggle:before {
    background-color: #ff7038;
  }
  .dropdown-toggle {
    font-family: $font-bold;
    font-size: 16px;
    &:hover {
      &:before {
        background-color: #f0f0f0;
      }
      &:after {
        border-color: #d5d5d5;
      }

    }
    &:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      right: -18px;
      background-color: transparent;
      transition: .3s ease;
    }
    &:after {
      display: inline-block;
      content: "";
      height: 6px;
      width: 6px;
      border-top: 2px solid $text-color;
      border-right: 2px solid $text-color;
      border-left: 0;
      transform: rotateZ(135deg);
      position: absolute;
      top: 6px;
      right: -15px;
      transition: .3s ease;
    }
  }
  .dropdown-menu {
    left: inherit;
    right: -32px;
    top: 30px;
    min-width: inherit;
    border-radius: 2px;
    padding: 10px 0;
    margin: 0;
    color: #fff;
    text-align: center;
    border: 0;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
    background-color: #064579;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 14px solid #064579;
      position: absolute;
      top: -7px;
      right: 10px;
    }
    li {

      a {
        font-family: $font-bold;
        font-size: 14px;
        padding: 6px 30px;
        display: block;
        white-space: nowrap;
        transition: .3s ease;

        .link {
          border-color: #fff;
          font-size: 11px;
        }

        &:hover {
          background-color: $accent;
          color: #fff;
        }
      }
    }
  }
}

.header-ctrl-block {
  display: inline-block;
  vertical-align: middle;
}

.header-compare {
  display: inline-block;
  margin-right: 20px;
  position: relative;

  &:hover {
    .icon-compare {
      color: #d3d3d3;
    }
  }

  &__label {
    display: inline-block;
    color: #fff;
    background-color: #005abb;
    font-size: 11px;
    padding: 3px 6px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: -9px;
    right: -12px;
  }

  .icon-compare {
    font-size: 15px;
    position: relative;
    top: 3px;
    transition: .3s ease;
  }
}

.header-auth {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  a {

    &:hover {
      .icon-user2 {
        color: #d3d3d3;
      }
    }
  }
  .icon-user2 {
    font-size: 16px;
    color: #090909;
    transition: .3s ease;
  }

}

.header-cart {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:hover {
    .header-cart__message {
      z-index: 2;
      opacity: 1;
    }
    .header-cart-icon {
      background-color: #d3d3d3;
      .icon-basket {
        color: $text-color;
      }
    }
  }
  &__label {
    display: inline-block;
    color: #fff;
    background-color: #005abb;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    right: -5px;
  }

  &__message {
    font-size: 11px;
    position: absolute;
    bottom: -38px;
    right: -5px;
    background-color: #064579;
    color: #fff;
    border-radius: 2px;
    padding: 6px 11px;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 14px solid #064579;
      position: absolute;
      top: -7px;
      right: 10px;
    }
    span {
      white-space: nowrap;
    }
  }
}

.header-cart-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #0d0d0d;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease;
  .icon-basket {
    color: #fff;
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 7px;
    font-size: 15px;
    transition: .3s ease;
  }
}

.menu-open {
  background-color: #064579;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  overflow-y: auto;

  .header-burder-menu {
    position: relative;
    z-index: 11;
    span {
      background-color: #fff;
    }
  }
  .header-logo {
   img {
     display: none;
   }
    background: url("../img/jpeg_files/logo-inverse.png") no-repeat center / cover;
    background-size: 100%;
    position: relative;
    z-index: 11;
  }

  .header-catalog-button {
    position: relative;
    z-index: 11;
    a {
      color: $text-color;
      font-family: $font-bold;
      background: #fff;

    }
  }

  .header-tel-block {
    position: relative;
    z-index: 11;
    .dropdown-toggle {
      color: #fff;
      &:after {
        border-color: #fff;
      }
    }
    .dropdown-menu {
      background-color: #fff;
      color: $text-color;
      &:after {
        border-bottom-color: #fff;
      }
    }
  }

  .header-ctrl-block {
    position: relative;
    z-index: 11;
  }
  .header-cart-icon {
    background-color: #fff;
    .icon-basket {
      color: $text-color;
    }
  }

  .header-auth .icon-user2 {
    color: #fff;
  }

  .header-compare .icon-compare {
    color: #fff;
  }


  .header-cart__message {
    background-color: #fff;
    color: $text-color;
  }

  .header-cart__message:after {
    border-bottom-color: #fff;
  }

}

.header-overlay {
  padding-top: 90px;
  display: none;
  &.active {
    display: block;
  }
}

.header-menu {
  display: none;
  justify-content: space-between;
  align-items: stretch;
  color: #fff;

  &.open {
    display: flex;
  }

  &__item {
    width: 18%;


    &--title {
      font-family: $proxima-semibold;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &--list {
      li {
        border-bottom: 1px dashed #1c5685;
        padding-bottom: 12px;
        margin-bottom: 9px;
        &:last-child {
          border: 0;
        }
      }
    }
  }
}

.header-catalog {
  color: #fff;
  display: none;
  align-items: stretch;
  flex-direction: row;
  padding-left: 100px;
  padding-top: 42px;

  &.open{
    display: flex;
  }
  &__left {
    width: 45%;
    display: inline-block;
    font-family: $proxima-extra;
    font-size: 36px;
    li {
      margin-bottom: 3px;
      a {
        &:before {
          content: "";
          display: inline-block;
          height: 4px;
          width: 0;
          background-color: #fff;
          margin-bottom: 10px;
          margin-right: 5px;
          transition: width .3s ease;
        }
        &:hover {
          &:before {
            width: 50px;
          }
        }
      }
    }
  }
  &__right {
    display: inline-block;
    font-family: $proxima-light;
    font-size: 16px;
    margin-top: 18px;
    li {
      margin-bottom: 27px;
    }
  }
}

.mob-menu-back {
  display: none;
}










@media ($desktop) {

  .header-logo {
    margin-left: -40px;
  }

  .header-catalog-button {
    margin-left: 0;
  }

}

@media ($tablet) {

  .header {
    padding: 5px 0;
  }

  .header-burder-menu {
    position: relative;
    bottom: 4px;
  }

  .header-catalog-button {
    display: none;
  }

  .header-logo {
    width: 125px;
    height: 45px;
  }

  .header-overlay {
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: auto;
  }

  .header.menu-open {
    background-color: #064579;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    bottom: 0;
  }

  .header-menu__item {
    width: 100%;
  }

  .header-catalog {
    padding-left: 0;
    padding-top: 0;
    display: block;
  }

  .header-menu {
    display: block;
  }
  .header-menu.open {
    display: block;
  }

  .header-menu__item--list {
    position: absolute;
    top: 0;
    left: -9999px;
    transition: .3s ease 0s;
  }

  .header-catalog__right {
    display: none;
  }

  .header-menu__item--title {
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #1c5685;
    position: relative;
    width: 50%;
    padding-right: 30px;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotateZ(45deg);
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      pointer-events: none;
    }
  }

  .header-catalog__left {
    width: 50%;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .header-catalog__left li a:before {
    margin-bottom: 7px;
  }

  .header-menu__item--list {
    width: 50%;
    &.open {
      left: 14px;
      background-color: #064579;
      z-index: 15;
      min-height: 100vh;
      height: 500px;
    }
  }

  .mob-menu-back {
    display: inline-block;
    border: 1px solid #1c5685;
    padding: 7px 23px;
  }

}

@media ($mobile) {

  .header-menu__item--title {
    width: 100%;
  }

  .header-menu__item--list {
    width: 100%;
  }

  .header-logo {
    margin-left: 0;
    width: 109px;
    height: 40px;
  }

  .header-tel-block .dropdown-toggle:after {
    content: none;
  }
  .header-tel-block {
    .fa-phone {
      font-size: 22px;
      margin-left: 15px;
    }
  }

  .header-auth {
    margin-right: 15px;
  }

  .menu-trigger {
    left: -10px;
    width: 30px;
  }

  .header-catalog__left {
    width: 100%;
  }

  .header-tel-block .dropdown {
    margin-right: 10px;
  }

  .header-cart {
    margin-right: 10px;
  }

  .header-tel-block .dropdown.show .dropdown-toggle:before {
    content: none;
  }

  .header-tel-block .dropdown-menu {
    right: -13px;
  }

}

