.top-slider-block {
  height: 90vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.top-slider {



  &__item {
    height: 77vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--left {
      width: 50%;
      padding-left: 11%;
    }
    &--right {
      width: 50%;
      position: relative;
      height: 90vh;
      a {
        display: block;
        height: 100%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 100%;
          width: auto;
        }
      }
    }
  }
}

.top-slider-subtitle {
  font-family: $proxima-semibold;
  color: #c4c4c4;
  font-size: 13px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.top-slider-title {
  font-family: $proxima-extra;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 10px;
  max-height: 96px;
  overflow: hidden;
}

.top-slider-text {
  color: #383838;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 40px;
  max-height: 54px;
  overflow: hidden;
}

.top-slider-goods-set {
  &__list {
    margin-bottom: 20px;
  }
}

.block-w-border {
  border: 14px solid #f0f0f0;
  text-align: center;
  padding: 10px;
  height: 100%;
  &__text {
    color: #ababab;
    margin-bottom: 50px;
    padding: 0 20px;
    overflow: hidden;
  }
}



.block-orange-bg {
  background-color: #ff6131;
  padding: 25px 30px 35px;
  color: #fff;
  height: 100%;
  &__subtitle {
    font-family: $proxima-semibold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    margin-top: 20px;
  }
  &__title {
    font-family: $proxima-extra;
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 13px;
    line-height: 1.4;
  }
  &__image {
    float: right;
  }
  &__btn {
    background-color: #2754eb;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    &--prop {
      display: inline-block;
      margin-right: 50px;
    }
    .link-arrow {
      color: #fff;
      span {
         &:before {
           background-color: #fff;
         }
        &:after {
          border-color: #fff;
        }
      }
    }
  }
}

.block-yellow-bg {
  background-color: #ffda46;
  height: 100%;
  text-align: center;
  padding: 25px;
  color: $black-background;
  border-bottom: 14px solid #ffda46;
  &__text {
    padding: 0 20px;
    margin-bottom: 40px;
    line-height: 1.4;
  }
}

.form-registration {
  &__input {
    border: 2px solid $black-background;
    background-color: transparent;
    height: 37px;
    width: 100%;
    margin-bottom: 15px;
    @include placeholder {
      font-size: 13px;
      color: $black-background !important;
      text-indent: 0;
      transition: 0.3s ease;
    }
  }
  &__button {
    background-color: $black-background;
    color: #ffda46;
    border: 0;
    height: 37px;
    width: 100%;
    font-family: $font-bold;
    font-size: 13px;
  }
}

.block-w-border, .block-yellow-bg {
  position: relative;
  padding-bottom: 40px;
  .link-more {
    position: absolute;
    left: 0;
    width:100%;
    bottom: 10px;
  }
}

.goods-combo {
  margin: 5px;
  position: relative;

  .goods-wrapper {
    margin-bottom: 15px;
  }
}

.goods-combo-small {
  .small-goods-wrapper {
    margin-bottom: 17px;
  }
}

.main-brand {
  height: 204px;
  margin: 5px;
  position: relative;
  a {
    display: block;
    height: 137px;
    position: absolute;
    top: 50%;
    background-color: #fff;
    width: 100%;
    transform: translateY(-50%);
    transition: .3s ease;
    &:hover {
      height: 238px;
      background-color: $text-color;
      .main-brand__first {
        opacity: 0;
      }
      .main-brand__second {
        opacity: 1;
      }
    }
    &__second {
      opacity: 0;
    }
    &__first {
      opacity: 1;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      max-height: 100%;
      transition: .3s ease;
    }
  }
}


.main-news-slider {
  padding: 100px 0 50px;
  .slick-dots {
    margin-top: 20px;
  }
}
.main-news-item {
  display: flex;
  flex-wrap: wrap;


  &__left {
    width: 45%;
    padding-left: 12%;
    padding-right: 20px;
    padding-top: 20px;

    .text-gray {
      line-height: 2;
      padding-right: 10px;
      height: 78px;
      overflow: hidden;
      margin-bottom: 23px;
    }
  }
  &__right {
    width: 55%;
    .block-w-border {
      padding: 0;
      text-align: center;
      img {
        display: inline;
      }
    }
  }
}

.section-block {
  &__ctrl {
    .link-arrow {
      margin-right: 40px;
    }
  }
}



.main-completed-work {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 0 45px;

  &__left {
    width: 52%;
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
    padding: 25px;
    max-height: 360px;
    img {
      max-height: 360px;
      width: auto;
    }
  }
  &__right {
    width: 48%;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 45px;

    .section-goods-link {
      margin: 40px 0 5px;
    }
    .section-goods-price {
      margin-bottom: 25px;
    }
  }
}

.main-completed-work-item {
  margin: 25px 0;
  position: relative;
  height: 460px;

  .block-w-border {
    padding: 0 15px 15px;
    text-align: left;
    position: static;
    overflow: hidden;
  }

  .section-goods-link .goods-link {
    font-size: 16px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
    transition: .3s ease;
  }
  .section-goods-price {
    position: relative;
    z-index: 2;
    transition: .3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    transition: .3s ease;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, .7);
      display: block;
      z-index: 2;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &__image {
    height: 180px;
    width: 100%;
    position: relative;
    transition: .3s ease;
    a {
      display: block;
      height: 100%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: auto;
      }
    }
  }

  &__title {
    font-family: $proxima-bold;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: .3s ease;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
    height: 80px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: .3s ease;
  }

  &__ctrl {
    position: relative;
    z-index: 2;
    transition: .3s ease;
  }
}

@media (min-width: 768px) {

  .main-completed-work-item {
    margin: 25px 0;
    position: relative;
    height: 460px;

    &:hover {
      color: #fff;

      .main-completed-work-item__overlay {
        opacity: 1;
        z-index: 1;
      }

      .main-completed-work-item__title {
        margin-top: 40px;
      }

      .main-completed-work-item__image {
        height: 0;
        overflow: hidden;
      }

      .section-goods-link .goods-link {
        color: #fff;
      }

      .main-completed-work-item__text {
        height: 240px;
        margin-bottom: 0;

        .text-gray {
          color: #fff;
        }
      }
      .link-arrow {
        color: #fff;
        span {
          &:before {
            background-color: #fff;
          }
          &:after {
            border-color: #fff;
          }
        }
      }
    }
  }

}

.main-reviews {
  margin-top: 35px;
  margin-bottom: 35px;

  .four-item-slider-left {
    position: relative;
  }

  &__link {
    position: absolute;
    left: 0;
    bottom: -105px;

  }

  &__item {
    height: 210px;
    margin: 25px 5px 0;
    font-size: 13px;
    padding: 20px;
    transition: .3s ease;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
        &:after {
          border-bottom-color: #f0f0f0;
        }
      .main-reviews__item--link {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 30px solid transparent;
      border-right: 23px solid transparent;
      position: absolute;
      top: -25px;
      right: 20px;
      transform: rotateZ(-16deg);
      transition: .3s ease;
    }

    &--title {
      font-family: $font-bold;
      display: block;
    }
    &--text {
      line-height: 2;
      height: 110px;
      overflow: hidden;
      display: block;
      margin-bottom: 25px;
    }
    &--link {
      display: block;
      opacity: 0;
      transition: .3s ease;
    }
  }
}

.main-contacts {
  margin-top: 55px;
  margin-bottom: 35px;

  .section-subtitle {
    margin-top: 40px;
  }

  &__choice {
    margin-top: 27px;
    margin-bottom: 38px;

    .dropdown.show .dropdown-toggle:before {
      transform: rotateZ(-45deg);
      top: 8px;
      background-color: transparent;
    }
    .dropdown-toggle {
      display: block;
      font-family: $proxima-regular;
      font-size: 13px;
      border-bottom: 2px solid $text-color;
      padding-bottom: 4px;
      margin-bottom: 10px;

      &:hover {
        &:before {
          background-color: transparent;
        }
      }

      &:after {
        content: none;
      }

      &:before {
        display: inline-block;
        content: "";
        height: 6px;
        width: 6px;
        border-top: 2px solid #343434;
        border-right: 2px solid #343434;
        transform: rotateZ(135deg);
        position: absolute;
        top: 6px;
        right: 5px;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        border-radius: 0;
      }
    }

    .dropdown-menu {
      width: 100%;
      border-radius: 2px;
      font-family: $proxima-regular;
      text-align: center;
      font-size: 16px;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
      padding: 0;
      right: 0;
      li {
        a {
          display: block;
          padding: 7px 16px;
          transition: .3s ease;
        }
      }
    }
  }

  &__title {
    font-family: $proxima-semibold;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .text-gray {
    line-height: 1.5;
  }

  &__map {
    padding-left: 50px;
  }
}

.contact-map {
  width: 100%;
  height: 515px;
}

.main-contacts-block {
  height: 210px;
  margin-bottom: 20px;
  overflow-y: auto;
}




.main-video-slider {
  margin-top: 40px;
  margin-bottom: 35px;
  height: 476px;
  position: relative;
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &--item {
      height: 476px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
      }
    }
  }

  &__front {

    .slick-arrow.slick-prev {
      left: 216px;
      top: 49%;
      background-color: #343434;
      border-color: #343434;
      &:before {
        border-color: #fff;
      }
      &:after {
        background-color: #fff;
      }
    }

    .slick-arrow.slick-next {
      right: 216px;
      top: 49%;
      background-color: #343434;
      border-color: #343434;
      &:before {
        border-color: #fff;
      }
      &:after {
        background-color: #fff;
      }
    }

    .slick-center {

      .video-slide .section-subtitle {
        opacity: 1;
      }

      .video-slide__image {
        display: none;
      }

      .video-slide__title {
        font-family: $proxima-extra;
        font-size: 30px;
      }

      .video-slide {
        width: 400px;
        padding-bottom: 0;
        top: 46%;
      }

      .video-slide__link {
        display: block;
      }

      .main-video-slider__front--item {

      }
    }

    &--item {
      height: 476px;
      position: relative;
    }
  }
}

.video-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  text-align: center;
  color: #fff;

  .section-subtitle {
    opacity: 0;
    transition: .3s ease;
  }

  &__link {
    a {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    display: none;
    height: 57px;
    width: 57px;
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translateX(-50%);
  }

  &__image {
    width: 150px;
    height: 85px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 10px;
    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-family: $proxima-regular;
    font-size: 13px;
  }
}

.modal-dialog-video {
  max-width: 980px;
  padding: 20px;
  iframe {
    width: 100%;
    min-height: 475px;
    max-width: 100%;
  }
}